In [1]:
import pandas as pd
import numpy as np
import re
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import pickle

In [43]:
pays = pd.read_csv('/Volumes/Seagate/Galvanize/nj_payments_all_years_consl.csv', \
                   usecols=['company','amount','npi','year','payment_id'])

In [44]:
pays.head(2)

   payment_id         npi                 company  amount  year
0    235088.0  1174629083  FOREST PHARMACEUTICALS   14.83  2013
1    334868.0  1386735850  FOREST PHARMACEUTICALS   72.90  2013

In [59]:
pay_by_comp = pays.groupby(['company']).agg({"amount": np.sum, "npi": pd.Series.nunique,'payment_id':'count'}).reset_index()
top10 = pay_by_comp.sort_values(['amount','npi','payment_id'],ascending=False).iloc[:10]

In [60]:
top10
 """),
    go.Bar(
        x=top10['company'],
        y=top10['npi'],
        name='Number Doctors Paid'
    ),
    go.Bar(
        x=top10['company'],
        y=top10['payment_id'],
        name='Number Payments'
    ),"""

                                  company      amount   npi  payment_id
82            ASTRAZENECA PHARMACEUTICALS  4037326.89  5358       63142
408               JANSSEN PHARMACEUTICALS  3570202.64  4683       45290
5                                  ABBVIE  3304520.11  2918       27077
857                ZIMMER BIOMET HOLDINGS  2829123.15  1015        3342
775              TEVA PHARMACEUTICALS USA  2165207.78  2034       18525
286                        ER SQUIBB SONS  1960920.85  3277       20091
623                                PFIZER  1945655.35  4571       34922
138  BOEHRINGER INGELHEIM PHARMACEUTICALS  1784204.80  3084       30656
760        TAKEDA PHARMACEUTICALS AMERICA  1713637.86  3233       24982
608         OTSUKA AMERICA PHARMACEUTICAL  1701228.73  1910       12052

In [66]:
data = [go.Bar(
        x=top10['company'],
        y=top10['amount'],
        name='Total Amount Paid',
        marker=dict(color=['FireBrick','Navy','Green','DarkMagenta',
                           'DarkOrange','Indigo','LightSkyBlue','DarkSlateGrey',
                           'MediumVioletRed','Peru']),)]

layout = go.Layout(
    title='Highest Paying Companies'
)

fig = go.Figure(data=data, layout=layout)

plotly.offline.plot(fig,filename='top10companies')

In [11]:
meds = pd.read_csv('/Volumes/Seagate/Galvanize/Drug_Products_in_the_Medicaid_Drug_Rebate_Program.csv',
                  usecols=['NDC','Labeler Name','FDA Product Name','Year'])

In [12]:
meds.head(2)

,Year,Labeler Name,NDC,FDA Product Name
0,2014,ELI LILLY AND COMPANY,2120001,AMYVID ...
1,2014,ELI LILLY AND COMPANY,2140701,QUINIDINE GLUCONATE ...

In [23]:
#Removing excess spacing & any symbols
meds['FDA Product Name'] = [re.sub(r'[^\w\s]','',str(x).upper()) for x in meds['FDA Product Name']]
meds['FDA Product Name'] = meds['FDA Product Name'].str.strip()
meds['Labeler Name'] = [re.sub(r'[^\w\s]','',str(x).upper()) for x in meds['Labeler Name']]
meds['Labeler Name'] = meds['Labeler Name'].str.strip()

In [25]:
meds.head(2)

   Year           Labeler Name      NDC     FDA Product Name
0  2014  ELI LILLY AND COMPANY  2120001               AMYVID
1  2014  ELI LILLY AND COMPANY  2140701  QUINIDINE GLUCONATE

In [51]:
medsgrp = meds.groupby(['FDA Product Name','Labeler Name'])['NDC'].nunique().to_frame().reset_index()

In [52]:
print(len(medsgrp))
medsgrp.head()

45533

,FDA Product Name,Labeler Name,NDC
0,0000000000000000000000000000000000000ONIVYDE 4...,MERRIMACK PHARMACEUTICALS INC,1
1,0075 KCL IN 5 DEXTROSE AND 045 NACL INJECTION USP,B BRAUN MEDICAL INC,1
2,015 KCL IN 09 NACL INJECTION USP,B BRAUN MEDICAL INC,1
3,015 KCL IN 5 DEXTROSE AND 020 NACL INJECTION USP,B BRAUN MEDICAL INC,2
4,015 KCL IN 5 DEXTROSE AND 033 NACL INJECTION USP,B BRAUN MEDICAL INC,1

In [36]:
#Only getting brand name drugs
scripts = scripts[scripts['drug_name']!=scripts['generic_name']]

In [37]:
scriptsgrp = scripts.groupby('drug_name')['generic_name'].nunique().to_frame().reset_index()

In [49]:
print(len(scriptsgrp))
scriptsgrp.head()

1448

          drug_name  generic_name
0           ABILIFY             1
1  ABILIFY DISCMELT             1
2  ABILIFY MAINTENA             1
3          ABRAXANE             1
4           ABSTRAL             1

In [53]:
common = scriptsgrp.merge(medsgrp,left_on='drug_name',right_on='FDA Product Name')

In [55]:
scripts[(~scripts.drug_name.isin(common.drug_name))]

               drug_name                    generic_name
0                 VIAGRA                      SILDENAFIL
4               ANDROGEL                    TESTOSTERONE
7               VESICARE           SOLIFENACIN SUCCINATE
12                FLOMAX                      TAMSULOSIN
15               RAPAFLO                       SILODOSIN
19               AVODART                     DUTASTERIDE
20                TOVIAZ           FESOTERODINE FUMARATE
53              CELEBREX                       CELECOXIB
55                LYRICA                      PREGABALIN
58              LIDODERM               LIDOCAINE VISCOUS
59              VOLTAREN               DICLOFENAC SODIUM
61              PERCOCET         OXYCODONE ACETAMINOPHEN
65               ENDOCET         OXYCODONE ACETAMINOPHEN
70                 OPANA                     OXYMORPHONE
77             OXYCONTIN                       OXYCODONE
81             OXYCONTIN                       OXYCODONE
83                NEXIUM          ESOMEPRAZOLE MAGNESIUM
89              REVLIMID                    LENALIDOMIDE
93              FASLODEX                     FULVESTRANT
94               GLEEVEC               IMATINIB MESYLATE
97                DIOVAN                       VALSARTAN
101            SYNTHROID            LEVOTHYROXINE SODIUM
115              VYTORIN           EZETIMIBE SIMVASTATIN
116                DIGOX                         DIGOXIN
118         VENTOLIN HFA               ALBUTEROL SULFATE
120                ZETIA                       EZETIMIBE
123        ADVAIR DISKUS          FLUTICASONE SALMETEROL
124           PROAIR HFA               ALBUTEROL SULFATE
128              CRESTOR            ROSUVASTATIN CALCIUM
137               TOPROL            METOPROLOL SUCCINATE
...                  ...                             ...
1934575          SPIRIVA              TIOTROPIUM BROMIDE
1934605         SENSIPAR                      CINACALCET
1934608        SYNTHROID            LEVOTHYROXINE SODIUM
1934612          CRESTOR            ROSUVASTATIN CALCIUM
1934642         TRINESSA  NORGESTIMATE ETHINYL ESTRADIOL
1934650   ARMOUR THYROID                    THYROID PORK
1934657         PREMARIN            ESTROGENS CONJUGATED
1934660         PREMARIN            ESTROGENS CONJUGATED
1934661          VAGIFEM                       ESTRADIOL
1934689          VAGIFEM                       ESTRADIOL
1934693         PREMARIN            ESTROGENS CONJUGATED
1934718          VAGIFEM                       ESTRADIOL
1934730        SYNTHROID            LEVOTHYROXINE SODIUM
1934744   ARMOUR THYROID                    THYROID PORK
1934752         VESICARE           SOLIFENACIN SUCCINATE
1934772         SUBOXONE          BUPRENORPHINE NALOXONE
1934774           NEXIUM          ESOMEPRAZOLE MAGNESIUM
1934776         CRYSELLE    NORGESTREL ETHINYL ESTRADIOL
1934778           SUPREP   SODIUM POTASSIUM MAG SULFATES
1934829  DENTA 5000 PLUS                 SODIUM FLUORIDE
1934854  LANTUS SOLOSTAR  INSULIN GLARGINE HUM REC ANLOG
1934856         BYSTOLIC                       NEBIVOLOL
1934861           SANTYL    COLLAGENASE CLOSTRIDIUM HIST
1934874         CELEBREX                       CELECOXIB
1934877  RISPERDAL M TAB                 RISPERIDONE ODT
1934901         PREMARIN            ESTROGENS CONJUGATED
1934902          CRESTOR            ROSUVASTATIN CALCIUM
1934907         SUBOXONE          BUPRENORPHINE NALOXONE
1934947        LEVORA 28  LEVONORGESTREL ETHIN ESTRADIOL
1934965         ZOSTAVAX             ZOSTER VACCINE LIVE

[416706 rows x 2 columns]

In [56]:
medsgrp['VIAGRA']

Empty DataFrame
Columns: [FDA Product Name, Labeler Name, NDC]
Index: []

In [76]:
medsgrp[medsgrp['FDA Product Name'].str.contains('VIAGRA')].groupby('Labeler Name')['NDC'].count()

                          FDA Product Name Labeler Name  NDC
43965            VIAGRA SILDENAFIL CITRATE   PFIZER INC    5
43966  VIAGRA SILDENAFIL CITRATE 100MG TAB   PFIZER INC    2
43967   VIAGRA SILDENAFIL CITRATE 50MG TAB   PFIZER INC    2

In [77]:
scriptsgrp.to_csv('/Volumes/Seagate/Galvanize/brand_drugs_scripts.csv',index=False)

In [78]:
medsgrp.to_csv('/Volumes/Seagate/Galvanize/medicare_drugs.csv',index=False)

## <font color='blue'>Linking companies to their drugs</font>

In [2]:
import pandas as pd
import numpy as np

In [68]:
scriptsgrp= pd.read_csv('/Volumes/Seagate/Galvanize/brand_drugs_scripts.csv')

          drug_name  generic_name
0           ABILIFY             1
1  ABILIFY DISCMELT             1

In [4]:
medsgrp= pd.read_csv('/Volumes/Seagate/Galvanize/medicare_drugs.csv')

In [9]:
medsgrp[medsgrp['FDA Product Name'].str.contains('VIAGRA')].groupby('Labeler Name')['NDC'].count()

Labeler Name
PFIZER INC    3
Name: NDC, dtype: int64

Make a dict that has:

    keys = COMPANY
    values = ALL DRUGS
    
if the drug is in the k, v for that company:

    New Col [company] = Company

groupby company, iterate through company.unique, take company & index by it, for each company iterate through the drugs & add it to the values of that company

Map based on iff the drug is

In [5]:
'VIAGRA'.str.contains('VIAGRA')

AttributeError: 'str' object has no attribute 'str'

In [5]:
viag = ['VIAGRA SILDENAFIL CITRATE','VIAGRA SILDENAFIL CITRATE 100MG TAB','VIAGRA SILDENAFIL CITRATE 50MG TAB']

In [7]:
viag

['VIAGRA SILDENAFIL CITRATE',
 'VIAGRA SILDENAFIL CITRATE 100MG TAB',
 'VIAGRA SILDENAFIL CITRATE 50MG TAB']

In [ ]:
lambda x: map(lambda w : v + w, y), x)

for every drug:
    medsgrp[medsgrp['FDA Product Name'].str.contains(DRUG)].groupby('Labeler Name')['NDC'].count().to_frame().reset_index()

In [6]:
medsgrp[medsgrp['Labeler Name'].str.contains('VIDARA')]

                 FDA Product Name             Labeler Name  NDC
601  ACTIMMUNE INTERFERON GAMMA1B  VIDARA THERAPEUTICS INC    2

In [35]:
x = 
        medsgrp[medsgrp['FDA Product Name'].str.contains('VIAGRA')].groupby('Labeler Name')['NDC'].count().to_frame(). \
        reset_index().sort_values('NDC',ascending=False).reset_index().drop('index',axis=1)['Labeler Name'][0]

In [19]:
d = {}
def company_drug(x):
    if x['drug_name'] not in d:
        try:
            df = medsgrp[medsgrp['FDA Product Name'].str.contains \
                                        (x['drug_name'])].groupby('Labeler Name')['NDC'].count()
            df = df.to_frame().reset_index().sort_values('NDC',ascending=False).reset_index().drop('index',axis=1)
            d[x['drug_name']] = df['Labeler Name'][0]
        except IndexError:
            df[x['drug_name']] = np.nan

In [21]:
scriptsgrp.apply(company_drug,axis=1)

0       None
1       None
2       None
3       None
4       None
5       None
6       None
7       None
8       None
9       None
10      None
11      None
12      None
13      None
14      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
22      None
23      None
24      None
25      None
26      None
27      None
28      None
29      None
        ...
1418    None
1419    None
1420    None
1421    None
1422    None
1423    None
1424    None
1425    None
1426    None
1427    None
1428    None
1429    None
1430    None
1431    None
1432    None
1433    None
1434    None
1435    None
1436    None
1437    None
1438    None
1439    None
1440    None
1441    None
1442    None
1443    None
1444    None
1445    None
1446    None
1447    None
Length: 1448, dtype: object

In [25]:
scriptsgrp["company"] = scriptsgrp["drug_name"].map(d)

In [45]:
medsgrp[medsgrp['FDA Product Name'].str.contains('ABSTRAL')].groupby('Labeler Name')['NDC'].count().to_frame(). \
        reset_index().sort_values('NDC',ascending=False).reset_index().drop('index',axis=1)['Labeler Name']

0        GALENA BIOPHARMA INC
1              PROSTRAKAN INC
2        SENTYNL THERAPEUTICS
3    SENTYNL THERAPEUTICS INC
Name: Labeler Name, dtype: object

In [18]:
medsgrp['Labeler Name'][0]

'MERRIMACK PHARMACEUTICALS INC'

In [34]:
script_and_company = scriptsgrp.copy()

In [35]:
script_company_dict = d

In [2]:
import pickle

In [38]:
script_and_company.fillna(value='UNKNOWN',inplace=True)

In [41]:
script_and_company.to_csv('/Volumes/Seagate/Galvanize/script_and_company.csv',index=False)

In [42]:
pickle.dump(script_company_dict, open('script_company_dict.pkl', 'wb'))

## <font color='teal'>Graphing work, mainly for graphing the amount a company made off a drug</font>

In [76]:
scripts = pd.read_csv('/volumes/Seagate/Galvanize/nj_scripts_all_years.csv',usecols=['drug_name','generic_name','amount_brand','total_drug_cost'])

In [95]:
comp_scripts = scripts[scripts['amount_brand']!=0]

In [89]:
comp_scripts.head()

    amount_brand drug_name           generic_name  total_drug_cost
0             48    VIAGRA             SILDENAFIL          8957.33
4             29  ANDROGEL           TESTOSTERONE         17234.63
7             37  VESICARE  SOLIFENACIN SUCCINATE         13580.78
11            26    CIALIS              TADALAFIL          3348.48
12            23    FLOMAX             TAMSULOSIN          5060.75

In [96]:
comp_scripts["company"] = comp_scripts["drug_name"].map(d)

/Users/kunal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [97]:
comp_scripts.dropna(axis=0,how='any')

,amount_brand,drug_name,generic_name,total_drug_cost,company
0,48,VIAGRA,SILDENAFIL,8957.33,PFIZER INC
4,29,ANDROGEL,TESTOSTERONE,17234.63,ABBVIE INC
7,37,VESICARE,SOLIFENACIN SUCCINATE,13580.78,ASTELLAS
11,26,CIALIS,TADALAFIL,3348.48,ELI LILLY AND COMPANY
12,23,FLOMAX,TAMSULOSIN,5060.75,BOEHRINGER INGELHEIM PHARMACEUTICALS
15,16,RAPAFLO,SILODOSIN,4242.73,WATSON PHARMA INC
19,40,AVODART,DUTASTERIDE,6418.34,GLAXOSMITHKLINE
20,19,TOVIAZ,FESOTERODINE FUMARATE,7328.35,PFIZER INC
25,13,VIGAMOX,MOXIFLOXACIN,1320.04,ALCON LABORATORIES INC
26,41,LUMIGAN,BIMATOPROST,5446.44,ALLERGAN INC
27,22,TRAVATAN Z,TRAVOPROST,3366.02,ALCON LABORATORIES INC
32,11,TOBRADEX,TOBRAMYCIN DEXAMETHASONE,1791.06,ALCON LABORATORIES INC
33,34,RESTASIS,CYCLOSPORINE,15079.11,ALLERGAN INC
53,47,CELEBREX,CELECOXIB,7882.12,PFIZER INC
55,143,LYRICA,PREGABALIN,34086.25,PFIZER INC
58,54,LIDODERM,LIDOCAINE VISCOUS,21118.40,ENDO PHARMACEUTICALS INC
59,87,VOLTAREN,DICLOFENAC SODIUM,9871.53,ENDO PHARMACEUTICALS INC
61,13,PERCOCET,OXYCODONE ACETAMINOPHEN,11837.44,ENDO PHARMACEUTICALS INC
63,31,CYMBALTA,DULOXETINE,13138.23,ELI LILLY AND COMPANY
65,50,ENDOCET,OXYCODONE ACETAMINOPHEN,2259.20,QUALITEST PHARMACEUTICALS
70,27,OPANA,OXYMORPHONE,14021.67,ENDO PHARMACEUTICALS INC
77,61,OXYCONTIN,OXYCODONE,31955.43,PURDUE PHARMA LP
81,13,OXYCONTIN,OXYCODONE,4049.75,PURDUE PHARMA LP
83,19,NEXIUM,ESOMEPRAZOLE MAGNESIUM,4170.61,ASTRAZENECA LP
89,46,REVLIMID,LENALIDOMIDE,407878.60,CELGENE CORPORATION
93,13,FASLODEX,FULVESTRANT,32468.44,ASTRAZENECA LP
94,15,GLEEVEC,IMATINIB MESYLATE,152963.70,NOVARTIS
97,39,DIOVAN,VALSARTAN,5449.03,NOVARTIS
101,18,SYNTHROID,LEVOTHYROXINE SODIUM,305.43,ABBOTT LABORATORIES
115,19,VYTORIN,EZETIMIBE SIMVASTATIN,3687.51,MERCKSCHERINGPLOUGH JV
...,...,...,...,...,...
1934650,13,ARMOUR THYROID,THYROID PORK,585.01,FOREST LABORATORIES INC
1934657,14,PREMARIN,ESTROGENS CONJUGATED,2166.70,AYERST LABORATORIES
1934660,11,PREMARIN,ESTROGENS CONJUGATED,3655.84,AYERST LABORATORIES
1934661,21,VAGIFEM,ESTRADIOL,3346.31,NOVO NORDISK INC
1934689,11,VAGIFEM,ESTRADIOL,2985.86,NOVO NORDISK INC
1934693,11,PREMARIN,ESTROGENS CONJUGATED,2205.07,AYERST LABORATORIES
1934718,11,VAGIFEM,ESTRADIOL,4478.35,NOVO NORDISK INC
1934719,19,TRAVATAN Z,TRAVOPROST,4983.03,ALCON LABORATORIES INC
1934728,48,RESTASIS,CYCLOSPORINE,17764.90,ALLERGAN INC
1934730,12,SYNTHROID,LEVOTHYROXINE SODIUM,364.62,ABBOTT LABORATORIES
1934744,11,ARMOUR THYROID,THYROID PORK,232.76,FOREST LABORATORIES INC
1934752,23,VESICARE,SOLIFENACIN SUCCINATE,5662.59,ASTELLAS
1934768,16,RESTASIS,CYCLOSPORINE,9588.96,ALLERGAN INC
1934772,47,SUBOXONE,BUPRENORPHINE NALOXONE,11453.32,RECKITT BENCKISER PHARMACEUTICALS INC
1934774,13,NEXIUM,ESOMEPRAZOLE MAGNESIUM,3202.35,ASTRAZENECA LP
1934778,45,SUPREP,SODIUM POTASSIUM MAG SULFATES,3578.31,BRAINTREE LABORATORIES INC
1934787,11,TRAVATAN Z,TRAVOPROST,2102.31,ALCON LABORATORIES INC
1934806,11,LUMIGAN,BIMATOPROST,3446.28,ALLERGAN INC
1934808,11,TRAVATAN Z,TRAVOPROST,2903.42,ALCON LABORATORIES INC
1934829,13,DENTA 5000 PLUS,SODIUM FLUORIDE,66.38,RISING PHARMACEUTICALS INC
1934854,11,LANTUS SOLOSTAR,INSULIN GLARGINE HUM REC ANLOG,13341.77,AVENTIS PHARMACEUTICALS
1934856,12,BYSTOLIC,NEBIVOLOL,1123.44,FOREST LABORATORIES INC
1934861,11,SANTYL,COLLAGENASE CLOSTRIDIUM HIST,2185.20,SMITH NEPHEW INC
1934874,12,CELEBREX,CELECOXIB,2952.27,PFIZER INC
1934876,12,TRUVADA,EMTRICITABINE TENOFOVIR,16482.65,GILEAD SCIENCES INC
1934883,12,EVISTA,RALOXIFENE,2389.56,ELI LILLY AND COMPANY
1934901,16,PREMARIN,ESTROGENS CONJUGATED,3638.26,AYERST LABORATORIES
1934902,20,CRESTOR,ROSUVASTATIN CALCIUM,4041.05,ASTRAZENECA LP
1934907,14,SUBOXONE,BUPRENORPHINE NALOXONE,5677.65,RECKITT BENCKISER PHARMACEUTICALS INC
1934950,11,TRAVATAN Z,TRAVOPROST,2675.18,ALCON LABORATORIES INC

In [98]:
scripts_by_comp = comp_scripts.groupby('company').agg({"total_drug_cost": np.sum})
top10 = scripts_by_comp.sort_values(['total_drug_cost'],ascending=False).round(decimals=2)
top10['total_drug_cost'] = top10.apply(lambda x: "{:,}".format(x['total_drug_cost']), axis=1)
top10['total_drug_cost'] = '$'+top10['total_drug_cost']
top10 = top10.reset_index().iloc[:10]

In [99]:
top10

                                company  total_drug_cost
0                        ASTRAZENECA LP  $757,060,442.05
1                       GLAXOSMITHKLINE  $369,410,690.79
2                   GILEAD SCIENCES INC  $361,088,046.56
3                         MERCK  CO INC  $313,035,079.07
4  BOEHRINGER INGELHEIM PHARMACEUTICALS  $307,813,664.83
5                              NOVARTIS  $290,281,177.46
6                            PFIZER INC  $206,429,205.17
7               AVENTIS PHARMACEUTICALS  $203,123,038.16
8           JANSSEN PHARMACEUTICALS INC  $198,843,316.34
9               FOREST LABORATORIES INC  $186,255,882.94

# **<font color='Red'>Trying to link the unknowns</font>**

In [3]:
script_company_dict = pickle.load(open('script_company_dict.pkl', 'rb'))

In [65]:
scriptcomp_orig = pd.read_csv('/Volumes/Seagate/Galvanize/script_and_company.csv')

In [36]:
scriptcomp.head(2)

          drug_name  generic_name         company
0           ABILIFY             1  OTSUKA AMERICA
1  ABILIFY DISCMELT             1  OTSUKA AMERICA

In [37]:
#Only getting hte unkonwn ones
scriptcomp = scriptcomp[scriptcomp['company']=='UNKNOWN']

In [19]:
comps = pd.read_csv('/Volumes/Seagate/Galvanize/ndcxls/product.csv', usecols=[1,3,12])

In [23]:
print(len(comps))
comps.head()

121214

  PRODUCTNDC      PROPRIETARYNAME            LABELERNAME
0  0002-1200               Amyvid  Eli Lilly and Company
1  0002-1407  Quinidine Gluconate  Eli Lilly and Company
2  0002-1433            Trulicity  Eli Lilly and Company
3  0002-1434            Trulicity  Eli Lilly and Company
4  0002-1445                TALTZ  Eli Lilly and Company

In [31]:
#Removing excess spacing & any symbols
comps['PROPRIETARYNAME'] = [re.sub(r'[^\w\s]','',str(x).upper()) for x in comps['PROPRIETARYNAME']]
comps['PROPRIETARYNAME'] = comps['PROPRIETARYNAME'].str.strip()
comps['LABELERNAME'] = [re.sub(r'[^\w\s]','',str(x).upper()) for x in comps['LABELERNAME']]
comps['LABELERNAME'] = comps['LABELERNAME'].str.strip()

In [32]:
medsgrp = comps.groupby(['PROPRIETARYNAME','LABELERNAME'])['PRODUCTNDC'].nunique().to_frame().reset_index()

In [33]:
print(len(medsgrp))
medsgrp.head()

69032

                 PROPRIETARYNAME                LABELERNAME  PRODUCTNDC
0  01 MOISTURE FOUNDATION SPF 15  THE BODY SHOP WAKE FOREST           1
1  02 MOISTURE FOUNDATION SPF 15  THE BODY SHOP WAKE FOREST           1
2  03 MOISTURE FOUNDATION SPF 15  THE BODY SHOP WAKE FOREST           1
3  04 MOISTURE FOUNDATION SPF 15  THE BODY SHOP WAKE FOREST           1
4  05 MOISTURE FOUNDATION SPF 15  THE BODY SHOP WAKE FOREST           1

In [45]:
d = {}
def company_drug(x):
    if x['drug_name'] not in d:
        try:
            df = medsgrp[medsgrp['PROPRIETARYNAME'].str.contains \
                                        (x['drug_name'])].groupby('LABELERNAME')['PRODUCTNDC'].count()
            df = df.to_frame().reset_index().sort_values('PRODUCTNDC',ascending=False).reset_index().drop('index',axis=1)
            d[x['drug_name']] = df['LABELERNAME'][0]
        except IndexError:
            d[x['drug_name']] = np.nan

In [46]:
scriptcomp.apply(company_drug,axis=1)

19      None
27      None
34      None
46      None
53      None
72      None
75      None
85      None
96      None
109     None
110     None
122     None
123     None
126     None
136     None
137     None
143     None
144     None
160     None
161     None
163     None
167     None
169     None
206     None
211     None
212     None
213     None
225     None
226     None
239     None
        ...
1281    None
1282    None
1283    None
1284    None
1288    None
1289    None
1294    None
1295    None
1299    None
1303    None
1307    None
1308    None
1310    None
1325    None
1326    None
1327    None
1334    None
1335    None
1352    None
1354    None
1355    None
1356    None
1357    None
1360    None
1361    None
1372    None
1385    None
1426    None
1432    None
1433    None
Length: 235, dtype: object

In [70]:
#Compiling the dictionary
comp_dict = {**script_company_dict, **d}

In [73]:
d['ADACEL TDAP'] = 'SANOFI PASTEUR INC'

In [83]:
#Add newly linked company names to the df
scriptcomp["company"] = scriptcomp["drug_name"].map(d)

In [115]:
scriptcomp.head()

               drug_name  generic_name             company
19           ADACEL TDAP             1  SANOFI PASTEUR INC
27  ADVOCATE PEN NEEDLES             1                 NaN
34           AK POLY BAC             1                 NaN
46        ALPRAZOLAM ODT             1                 NaN
53               ALZ NAC             1                 NaN

In [84]:
left = scriptcomp[pd.isnull(scriptcomp['company'])]
len(left),len(scriptcomp_orig)

(190, 1448)

In [85]:
pickle.dump(comp_dict, open('script_company_dict.pkl', 'wb'))

## Linking to the OG scripts dataframe

In [89]:
scripts = pd.read_csv('/volumes/Seagate/Galvanize/nj_scripts_all_years.csv')

In [90]:
scripts.head(2)

,npi,ln,fn,city,state,specialty_description,year,recieved_payments,total_claim_count,amount_brand,drug_name,generic_name,brand_drug?,total_day_supply,total_drug_cost
0,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,48,48,VIAGRA,SILDENAFIL,True,1481,8957.33
1,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,16,0,CLOTRIMAZOLE BETAMETHASONE,CLOTRIMAZOLE BETAMETHASONE,False,367,806.59

In [91]:
#Add newly linked company names to the df
scripts["drug_company"] = scripts["drug_name"].map(comp_dict)

In [106]:
#Writing unknown where I couln't link the company, and generic for the company
dic = {}
def unknown_and_generic(x):
    if (x['drug_name'] == x['generic_name']):
            dic[x['drug_name']] = 'GENERIC'
    elif (x['drug_name'] != x['generic_name']) and (x['drug_name'] not in dic):
        dic[x['drug_name']] = 'UNKNOWN'

In [107]:
scriptsgrp = scripts[pd.isnull(scripts['drug_company'])]
scriptsgrp = scriptsgrp.groupby(['drug_name','generic_name'])['npi'].count().to_frame().reset_index()

In [108]:
scriptsgrp.apply(unknown_and_generic,axis=1)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
924    None
925    None
926    None
927    None
928    None
929    None
930    None
931    None
932    None
933    None
934    None
935    None
936    None
937    None
938    None
939    None
940    None
941    None
942    None
943    None
944    None
945    None
946    None
947    None
948    None
949    None
950    None
951    None
952    None
953    None
Length: 954, dtype: object

In [111]:
#Add newly linked company names to the df
drug_comp = {**comp_dict, **dic}
scripts["drug_company"] = scripts["drug_name"].map(drug_comp)

In [112]:
scripts

,npi,ln,fn,city,state,specialty_description,year,recieved_payments,total_claim_count,amount_brand,drug_name,generic_name,brand_drug?,total_day_supply,total_drug_cost,drug_company
0,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,48,48,VIAGRA,SILDENAFIL,True,1481,8957.33,PFIZER INC
1,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,16,0,CLOTRIMAZOLE BETAMETHASONE,CLOTRIMAZOLE BETAMETHASONE,False,367,806.59,GENERIC
2,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,27,0,IMIPRAMINE,IMIPRAMINE,False,1380,519.91,GENERIC
3,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,34,0,NITROFURANTOIN,NITROFURANTOIN,False,1480,1502.16,GENERIC
4,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,29,29,ANDROGEL,TESTOSTERONE,True,1236,17234.63,ABBVIE INC
5,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,28,0,ACETAMINOPHEN CODEINE,ACETAMINOPHEN CODEINE,False,106,119.43,GENERIC
6,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,35,0,OXYBUTYNIN CHLORIDE,OXYBUTYNIN CHLORIDE,False,2070,667.09,GENERIC
7,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,37,37,VESICARE,SOLIFENACIN SUCCINATE,True,2145,13580.78,ASTELLAS
8,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,15,0,AMOXICILLIN,AMOXICILLIN,False,124,70.21,GENERIC
9,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,111,0,CIPROFLOXACIN,CIPROFLOXACIN,False,889,645.97,GENERIC
10,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,14,0,ALLOPURINOL,ALLOPURINOL,False,1260,146.39,GENERIC
11,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,26,26,CIALIS,TADALAFIL,True,397,3348.48,ELI LILLY AND COMPANY
12,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,23,23,FLOMAX,TAMSULOSIN,True,990,5060.75,BOEHRINGER INGELHEIM PHARMACEUTICALS
13,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,14,0,OXYBUTYNIN CHLORIDE,OXYBUTYNIN CHLORIDE,False,1200,1791.67,GENERIC
14,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,38,0,SULFAMETHOXAZOLE TRIMETHOPRIM,SULFAMETHOXAZOLE TRIMETHOPRIM,False,319,215.21,GENERIC
15,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,16,16,RAPAFLO,SILODOSIN,True,940,4242.73,WATSON PHARMA INC
16,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,193,0,FINASTERIDE,FINASTERIDE,False,13890,6517.24,GENERIC
17,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,17,0,NITROFURANTOIN,NITROFURANTOIN,False,260,991.53,GENERIC
18,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,578,0,TAMSULOSIN,TAMSULOSIN,False,41527,16615.95,GENERIC
19,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,40,40,AVODART,DUTASTERIDE,True,1560,6418.34,GLAXOSMITHKLINE
20,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,19,19,TOVIAZ,FESOTERODINE FUMARATE,True,1410,7328.35,PFIZER INC
21,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,54,0,BICALUTAMIDE,BICALUTAMIDE,False,3540,3849.68,GENERIC
22,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,28,0,TERAZOSIN,TERAZOSIN,False,1920,576.58,GENERIC
23,1528036670,LANTERI,VINCENT,MAYWOOD,NJ,Urology,2013,True,97,0,ALFUZOSIN,ALFUZOSIN,False,6957,9164.19,GENERIC
24,1699730937,SAUNDERS,ERIC,RIDGEWOOD,NJ,Ophthalmology,2013,True,94,0,LATANOPROST,LATANOPROST,False,3622,2147.15,GENERIC
25,1699730937,SAUNDERS,ERIC,RIDGEWOOD,NJ,Ophthalmology,2013,True,13,13,VIGAMOX,MOXIFLOXACIN,True,143,1320.04,ALCON LABORATORIES INC
26,1699730937,SAUNDERS,ERIC,RIDGEWOOD,NJ,Ophthalmology,2013,True,41,41,LUMIGAN,BIMATOPROST,True,1419,5446.44,ALLERGAN INC
27,1699730937,SAUNDERS,ERIC,RIDGEWOOD,NJ,Ophthalmology,2013,True,22,22,TRAVATAN Z,TRAVOPROST,True,838,3366.02,ALCON LABORATORIES INC
28,1699730937,SAUNDERS,ERIC,RIDGEWOOD,NJ,Ophthalmology,2013,True,20,0,PREDNISOLONE ACETATE,PREDNISOLONE ACETATE,False,496,405.98,GENERIC
29,1699730937,SAUNDERS,ERIC,RIDGEWOOD,NJ,Ophthalmology,2013,True,11,0,TOBRAMYCIN DEXAMETHASONE,TOBRAMYCIN DEXAMETHASONE,False,174,1002.21,GENERIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934984,1013158443,GREEN,ELISA,DENVILLE,NJ,Nurse Practitioner,2015,False,14,0,LEVOTHYROXINE SODIUM,LEVOTHYROXINE SODIUM,False,815,322.75,GENERIC
1934985,1316283708,ROSIN,DALE,SOMERVILLE,NJ,Psychiatry,2015,False,12,0,BUPROPION SR,BUPROPION SR,False,360,119.17,GENERIC
1934986,1548318694,LIPSHULTZ,RICHARD,CRESSKILL,NJ,Dentist,2015,True,23,0,AMOXICILLIN,AMOXICILLIN,False,188,99.66,GENERIC
1934987,1619293644,PANE,ANTHONY,ROCKAWAY,NJ,Obstetrics/Gynecology,2015,False,11,0,RALOXIFENE,RALOXIFENE,False,330,1041.77,GENERIC
1934988,1124040407,SHKLAR,DAVID,CAMDEN,NJ,Internal Medicine,2015,True,16,0,LEVOFLOXACIN,LEVOFLOXACIN,False,80,181.10,GENERIC
1934989,1528136595,GORO,BERIT,SAYREVILLE,NJ,Optometry,2015,False,13,0,LATANOPROST,LATANOPROST,False,738,186.43,GENERIC
1934990,1396172797,CARUSO,KELLY,BURLINGTON,NJ,Nurse Practitioner,2015,False,14,0,ALPRAZOLAM INTENSOL,ALPRAZOLAM INTENSOL,False,345,83.72,GENERIC
1934991,1396172797,CARUSO,KELLY,BURLINGTON,NJ,Nurse Practitioner,2015,False,12,0,OXYCODONE ACETAMINOPHEN,OXYCODONE ACETAMINOPHEN,False,97,151.55,GENERIC
1934992,1730287103,SAMANEZ,JORGE,PATERSON,NJ,Dentist,2015,False,11,0,AMOXICILLIN,AMOXICILLIN,False,85,54.73,GENERIC
1934993,1306973987,MIGLANI,SHEFALI,MONROE TWP,NJ,Optometry,2015,False,16,0,FLUOROMETHOLONE,FLUOROMETHOLONE,False,361,1250.80,GENERIC
1934994,1194825463,LUSTBADER,STEVEN,OLD BRIDGE,NJ,Dentist,2015,False,40,0,AMOXICILLIN,AMOXICILLIN,False,339,167.67,GENERIC
1934995,1598871162,TUCKER,BRADFORD,EGG HARBOR TOWNSHIP,NJ,Orthopedic Surgery,2015,True,11,0,CELECOXIB,CELECOXIB,False,450,1588.63,GENERIC
1934996,1568507317,KAMIENSKI,MARY,NEWARK,NJ,Nurse Practitioner,2015,False,12,0,LISINOPRIL HYDROCHLOROTHIAZIDE,LISINOPRIL HYDROCHLOROTHIAZIDE,False,525,46.44,GENERIC
1934997,1336335033,LIEBES,DAVID,LIVINGSTON,NJ,Dentist,2015,True,32,0,AMOXICILLIN,AMOXICILLIN,False,161,112.77,GENERIC
1934998,1992935100,STATHAKES,LARISSA,TRENTON,NJ,Physician Assistant,2015,False,11,0,CYCLOBENZAPRINE,CYCLOBENZAPRINE,False,47,42.20,GENERIC
1934999,1457377699,ESKIN,BARNET,JERSEY CITY,NJ,Emergency Medicine,2015,True,26,0,OXYCODONE ACETAMINOPHEN,OXYCODONE ACETAMINOPHEN,False,69,145.34,GENERIC
1935000,1942382148,BELOFF,MICHELLE,FAIR LAWN,NJ,Obstetrics/Gynecology,2015,True,11,0,RALOXIFENE,RALOXIFENE,False,630,2722.85,GENERIC
1935001,1629147624,POPLAWSKI,MARK,TOMS RIVER,NJ,Podiatry,2015,True,17,0,IBUPROFEN,IBUPROFEN,False,230,68.91,GENERIC
1935002,1376647735,DAWSON,JACQUELYN,GLEN ROCK,NJ,Dentist,2015,False,16,0,AMOXICILLIN,AMOXICILLIN,False,76,31.56,GENERIC
1935003,1114265642,ARAUZ,JESSICA,JERSEY CITY,NJ,Nurse Practitioner,2015,False,12,0,NAPROXEN,NAPROXEN,False,187,51.79,GENERIC
1935004,1609814870,FRIEDENTHAL,ROY,HAMMONTON,NJ,Orthopedic Surgery,2015,False,11,0,IBUPROFEN,IBUPROFEN,False,330,66.14,GENERIC
1935005,1497811228,POGODA,JOHN,WOODBRIDGE,NJ,Dentist,2015,False,19,0,AMOXICILLIN,AMOXICILLIN,False,145,83.60,GENERIC
1935006,1902117773,CHACKO,ABRAHAM,STRATFORD,NJ,Student in an Organized Health Care Education/...,2015,False,20,0,PANTOPRAZOLE SODIUM,PANTOPRAZOLE SODIUM,False,780,163.78,GENERIC
1935007,1518920768,CHAIKLIN,RONALD,KEARNY,NJ,Dentist,2015,False,22,0,CHLORHEXIDINE GLUCONATE,CHLORHEXIDINE GLUCONATE,False,533,119.32,GENERIC
1935008,1982782561,LAWSON,STEPHEN,EDISON,NJ,Dentist,2015,True,19,0,AMOXICILLIN,AMOXICILLIN,False,134,61.10,GENERIC
1935009,1518951458,SANTO,MICHAEL,RED BANK,NJ,Dentist,2015,False,19,0,AMOXICILLIN,AMOXICILLIN,False,89,64.55,GENERIC
1935010,1649335902,VIDAL,LILLIAN,ENGLEWOOD,NJ,Dentist,2015,True,19,0,AMOXICILLIN,AMOXICILLIN,False,79,45.56,GENERIC
1935011,1013034982,SEU,SILVIA,ROSELLE PARK,NJ,Dentist,2015,False,42,0,AMOXICILLIN,AMOXICILLIN,False,212,164.86,GENERIC
1935012,1083711469,STEIN,IVAN,WEST ORANGE,NJ,Oral Surgery (dentists only),2015,True,22,0,AMOXICILLIN,AMOXICILLIN,False,135,94.23,GENERIC
1935013,1982689352,SAFT,STEVEN,CHERRY HILL,NJ,Podiatry,2015,False,11,0,GABAPENTIN,GABAPENTIN,False,330,60.28,GENERIC

In [129]:
scripts.to_csv('/volumes/Seagate/Galvanize/nj_scripts_all_years.csv',index=False)

In [114]:
pickle.dump(drug_comp, open('script_company_dict.pkl', 'wb'))

In [119]:
def clean_drug_name(df,wrong_name, right_name):
    """
    Input:
        df: df, dataframe to be used
        wrong_name: Str, wrong name that is listed in df
        right_name: Str, right name to be changed to
    Output:
        None
    """
    #Getting all the locations where it says the wrong name
    for col in ['drug_name']:
        l = list(df[(df['drug_name']==wrong_name)&(df['generic_name']==right_name)].index.values)
        for i in l:
            df.at[i,'drug_name'] = right_name

In [120]:
clean_drug_name(scripts,'ALPRAZOLAM ODT','ALPRAZOLAM INTENSOL')

In [126]:
l = list(scripts[(scripts['drug_name']=='ALPRAZOLAM INTENSOL')&(scripts['generic_name']=='ALPRAZOLAM INTENSOL')].index.values)

In [134]:
scripts['drug_company'] = scripts['drug_company'].map(lambda x: ' '.join((str(x).replace('INCORPORATED','').replace('CORPORATION','')\
                                    .replace('INC','').replace('CORP','').replace('LLC','').replace('LP','')).split()))

In [159]:
pd.options.display.max_rows = 60

In [139]:
def clean_company_name(df,wrong_name, right_name):
    """
    Input:
        df: df, dataframe to be used
        wrong_name: Str, wrong name that is listed in df
        right_name: Str, right name to be changed to
    Output:
        None
    """
    #Getting all the locations where it says the wrong name
    l = list(df[df['drug_company']==wrong_name].index.values)
    #Replacing all the "ZOLL SERVICES AKA ZOLL LIFECOR" with "ZOLL LIFECOR"
    for i in l:
        df.at[i,'drug_company'] = right_name

In [140]:
clean_company_name(scripts,'WYETH LABORATORIES','PFIZER')
clean_company_name(scripts,'WYETH PHARMACEUTICALS A SUBSIDIARY OF PFIZER','PFIZER')

In [160]:
pd.DataFrame(scripts['drug_company'].unique()).sort_values(by=0)

                                         0
204                3M ESPE DENTAL PRODUCTS
16                     ABBOTT LABORATORIES
2                                   ABBVIE
206                     ABRAXIS BIOSCIENCE
169                 ACELLA PHARMACEUTICALS
109                    ACORDA THERAPEUTICS
38                                 ACTAVIS
138            ACTELION PHARMACEUTICALS US
170                ACTIENT PHARMACEUTICALS
247                  ACTON PHARMACEUTICALS
220               AEGERION PHARMACEUTICALS
182             AFFORDABLE PHARMACEUTICALS
140                                  AKORN
106                AKRIMAX PHARMACEUTICALS
130                  ALAVEN PHARMACEUTICAL
8                       ALCON LABORATORIES
228                ALEXION PHARMACEUTICALS
185                               ALKERMES
9                                 ALLERGAN
99                         ALLISON MEDICAL
90                         ALMATICA PHARMA
82      AMARIN PHARMACEUTICALS IRELAND LTD
167                 AMEDRA PHARMACEUTICALS
77               AMERICAN HEALTH PACKAGING
208                        AMERICAN REGENT
235                     AMERISOURCE BERGEN
46                               AMGEN USA
89                            AMGENIMMUNEX
92                  AMNEAL PHARMACEUTICALS
240                 ANACOR PHARMACEUTICALS
..                                     ...
246            TAIHO PHARMACEUTICAL CO LTD
21          TAKEDA PHARMACEUTICALS AMERICA
231               TARO PHARMACEUTICALS USA
20                    TEVA PHARMACEUTICALS
202                  THE MEDICINES COMPANY
177     THE PROCTER GAMBLE DISTRIBUTING CO
52                     TRIGEN LABORATORIES
93                              UCB PHARMA
146                    UNITED THERAPEUTICS
22                                 UNKNOWN
50                UPSHERSMITH LABORATORIES
200                           US WORLDMEDS
80   VALEANT PHARMACEUTICALS NORTH AMERICA
124                VALIDUS PHARMACEUTICALS
238                  VANDA PHARMACEUTICALS
171                          VANSEN PHARMA
215                 VERTEX PHARMACEUTICALS
121               VERTICAL PHARMACEUTICALS
97                         VIIV HEALTHCARE
145                VISTAKON PHARMACEUTICAL
163                                  VIVUS
28            WARNER CHILCOTT LABORATORIES
6                            WATSON PHARMA
19                 WESTWARD PHARMACEUTICAL
198          WOMENS CHOICE PHARMACEUTICALS
96                                XENOPORT
178                   XGEN PHARMACEUTICALS
158                                    YTE
242                                ZOGENIX
100              ZYDUS PHARMACEUTICALS USA

[250 rows x 1 columns]

In [157]:
clean_company_name(scripts,'ACTAVIS KADIAN','ACTAVIS')
clean_company_name(scripts,'ACTAVIS PHARMA','ACTAVIS')
clean_company_name(scripts,'ARBOR PHARMACEUTICALS IRELAND LIMITED','ARBOR PHARMACEUTICALS')
clean_company_name(scripts,'ASTELLAS PHARMA US','ASTELLAS')
clean_company_name(scripts,'BRISTOLMYERS SQUIBB AND GILEAD SCIENCE','GILEAD SCIENCES')
clean_company_name(scripts,'BRISTOLMYERS SQUIBB COMPANY','BRISTOLMYERS SQUIBB')
clean_company_name(scripts,'BRISTOLMYERS SQUIBBSANOFI PARTNERSHIP','BRISTOLMYERS SQUIBB')
clean_company_name(scripts,'BRISTOLMYERS SQUIBB PHARMA CO','BRISTOLMYERS SQUIBB')
clean_company_name(scripts,'COVIS PHARMA SARL','COVIS PHARMACEUTICALS')
clean_company_name(scripts,'CSL BEHRING GMBH','CSL BEHRING')
clean_company_name(scripts,'GLAXOSMITHKLINE BIOLOGICALS SA','GLAXOSMITHKLINE')
clean_company_name(scripts,'GSK CONSUMER HEALTHCARE','GSK CONSUMER HEALTH')
clean_company_name(scripts,'IMPAX SPECIALTY PHARMA','IMPAX LABORATORIES')
clean_company_name(scripts,'JANSSEN BIOTECH','JANSSEN PHARMACEUTICALS')
clean_company_name(scripts,'JANSSEN PRODUCTS','JANSSEN PHARMACEUTICALS')
clean_company_name(scripts,'JAZZ PHARMACEUTICALS COMMERCIAL','JAZZ PHARMACEUTICALS')
clean_company_name(scripts,'KREMERS URBAN','KREMERS URBAN PHARMACEUTICALS')
clean_company_name(scripts,'MALLKRODT BRAND PHARMACEUTICALS','MALLKRODT PHARMACEUTICALS')
clean_company_name(scripts,'MALLKRODT','MALLKRODT PHARMACEUTICALS')
clean_company_name(scripts,'MERCK SHARP DOHME','MERCK')
clean_company_name(scripts,'MERCKSCHERINGPLOUGH JV','MERCK')
clean_company_name(scripts,'MYLAN INSTITUTIONAL','MYLAN PHARMACEUTICALS')
clean_company_name(scripts,'MYLAN SPECIALTY','MYLAN PHARMACEUTICALS')
clean_company_name(scripts,'PAR PHARMACEUTICAL','PAR PHARMACEUTICALS')
clean_company_name(scripts,'SCHERING HEALTHCARE PRODUCTS','SCHERING')
clean_company_name(scripts,'TEVA GLOBAL RESPIRATORY RESEARCH','TEVA PHARMACEUTICALS')
clean_company_name(scripts,'TEVA NEUROSCIENCE','TEVA PHARMACEUTICALS')
clean_company_name(scripts,'TEVA PARENTERAL MEDICINES','TEVA PHARMACEUTICALS')
clean_company_name(scripts,'TEVA PHARMACEUTICALS USA','TEVA PHARMACEUTICALS')
clean_company_name(scripts,'TEVA RESPIRATORY','TEVA PHARMACEUTICALS')
clean_company_name(scripts,'TEVA WOMENS HEALTH','TEVA PHARMACEUTICALS')
clean_company_name(scripts,'UCB','UCB PHARMA')
clean_company_name(scripts,'UCB MANUFACTURING','UCB PHARMA')

In [150]:
x = ayments_nj_full.company.unique()

In [151]:
sorted(x)

['180 MEDICAL',
 '3M COMPANY',
 'AASTROM BIOSCIENCES',
 'ABB CONCISE OPTICAL GROUP',
 'ABBOTT LABORATORIES',
 'ABBVIE',
 'ABIOMED',
 'ACCESS CLOSURE',
 'ACCLARENT',
 'ACCURAY',
 'ACE SURGICAL SUPPLY CO',
 'ACELL',
 'ACIST MEDICAL SYSTEMS',
 'ACORDA THERAPEUTICS',
 'ACTAVIS PHARMA',
 'ACTELION CLINICAL RESEARCH',
 'ACTELION PHARMACEUTICALS LTD',
 'ACTELION PHARMACEUTICALS US',
 'ACUMED',
 'ADEC',
 'ADVANCED MEDICAL PARTNERS',
 'ADVANCED ORTHOPAEDIC SOLUTIONS',
 'ADVANCED RESPIRATORY',
 'ADVANDX',
 'AEGERION PHARMACEUTICALS',
 'AEROCRINE',
 'AESCULAP',
 'AESCULAP BIOLOGICS',
 'AESCULAP IMPLANT SYSTEMS',
 'AHATEC SPINE',
 'AKORN',
 'AKRIMAX PHARMACEUTICALS',
 'ALCON LABORATORIES',
 'ALCON RESEARCH LTD',
 'ALEXION PHARMACEUTICALS',
 'ALGETA US',
 'ALIGN TECHNOLOGY',
 'ALIMERA SCIENCES',
 'ALKABELLO',
 'ALKERMES',
 'ALLERGAN',
 'ALLIQUA BIOMEDICAL',
 'ALMATICA PHARMA',
 'ALTATEC GMBH',
 'ALTUS PARTNERS',
 'AMAG PHARMACEUTICALS',
 'AMARIN PHARMA',
 'AMD GROUP',
 'AMD LASERS',
 'AMENDIA',
 'AMERICAN MEDICAL SYSTEMS',
 'AMGEN',
 'AMNEAL PHARMACEUTICALS',
 'AMNIOX MEDICAL',
 'ANACOR PHARMACEUTICALS',
 'ANALOGIC',
 'ANGIODYNAMICS',
 'ANGIOSCORE',
 'ANIMAS',
 'ANTARES PHARMA',
 'APOLLO ENDOSURGERY',
 'APPLIED MEDICAL RESOURCES',
 'APTALIS PHARMA US',
 'APTUS ENDOSYSTEMS',
 'AQUA PHARMACEUTICALS',
 'ARBOR PHARMACEUTICALS',
 'ARGON MEDICAL DEVICES',
 'ARIAD PHARMACEUTICALS',
 'ARIOSA DIAGNOSTICS',
 'ARROW INTERNATIONAL',
 'ARTHREX',
 'ARTHROCARE',
 'ARTHROSURFACE',
 'ASCEND THERAPEUTICS US',
 'ASCENSION ORTHOPEDICS',
 'ASD SPECIALTY HEALTHCARE',
 'ASTELLAS PHARMA EUROPE BV',
 'ASTELLAS PHARMA GLOBAL DEVELOPMENT',
 'ASTELLAS PHARMA US',
 'ASTELLAS SCIENTIFIC AND MEDICAL AFFAIRS',
 'ASTORA WOMENS HEALTH',
 'ASTRAZENECA AB',
 'ASTRAZENECA PHARMACEUTICALS',
 'ASTRAZENECA UK LIMITED',
 'ASTUTE MEDICAL',
 'ASURAGEN',
 'ATLAS SPINE',
 'ATRICURE',
 'ATRIUM MEDICAL',
 'AUGMENIX',
 'AUXILIUM PHARMACEUTICALS',
 'AVANIR PHARMACEUTICALS',
 'AVID RADIOPHARMACEUTICALS',
 'AVINGER',
 'AVION PHARMACEUTICALS',
 'AXOGEN',
 'B BRAUN MEDICAL',
 'BACTERIN INTERNATIONAL',
 'BANYAN INTERNATIONAL',
 'BARD ACCESS SYSTEMS',
 'BARD PERIPHERAL VASCULAR',
 'BAUSCH AND LOMB',
 'BAXALTA US',
 'BAXANO SURGICAL',
 'BAXTER HEALTHCARE',
 'BAYER HEALTHCARE',
 'BAYER HEALTHCARE PHARMACEUTICALS',
 'BEAVERVISITEC INTERNATIONAL',
 'BECTON DICKINSON AND COMPANY',
 'BENCO DENTAL SUPPLY CO',
 'BG MEDICINE',
 'BIO PRODUCTS LABORATORY',
 'BIOCOMPATIBLES',
 'BIOCOMPOSITES',
 'BIODELIVERY SCIENCES INTERNATIONAL',
 'BIOFIRE DIAGNOSTICS',
 'BIOGEN',
 'BIOHORIZONS IMPLANT SYSTEMS',
 'BIOLASE',
 'BIOMARIN PHARMACEUTICAL',
 'BIOMEDICAL ENTERPRISES',
 'BIOMET 3I',
 'BIOMET 3I MEXICO SA DE CV',
 'BIOMET BIOLOGICS',
 'BIOMET EUROPE LTD',
 'BIOMET MICROFIXATION',
 'BIOMET ORTHOPEDICS',
 'BIOMET SPINE',
 'BIOMET SPORTS MEDICINE',
 'BIOMET TRAUMA',
 'BIOMIMETIC THERAPEUTICS',
 'BIORAD LABORATORIES',
 'BIOSENSE WEBSTER',
 'BIOTRONIK',
 'BIOVENTUS',
 'BISCO',
 'BLOCKADE MEDICAL',
 'BLUE BELT TECHNOLOGIES',
 'BOEHRINGER INGELHEIM PHARMACEUTICALS',
 'BOLTON MEDICAL',
 'BOSTON SCIENTIFIC',
 'BOVIE MEDICAL',
 'BRAEMAR MANUFACTURING',
 'BRAINLAB',
 'BRAINTREE LABORATORIES',
 'BTG INTERNATIONAL',
 'C R BARD SUBSIDIARIES',
 'CADENCE PHARMACEUTICALS',
 'CALDERA MEDICAL',
 'CAPNIA',
 'CAPTIVA SPINE',
 'CARDIAC ASSIST',
 'CARDICA',
 'CARDINAL HEALTH 108',
 'CARDINAL HEALTH 110',
 'CARDINAL HEALTH 200',
 'CARDINAL HEALTH PR 120',
 'CARDIOVASCULAR SYSTEMS',
 'CARDIVA MEDICAL',
 'CAREFUSION',
 'CARESTREAM DENTAL',
 'CARL ZEISS MEDITEC',
 'CATHETER ROBOTICS',
 'CAYENNE MEDICAL',
 'CELGENE',
 'CELLERATION_',
 'CELONOVA BIOSCIENCES',
 'CENTINEL SPINE',
 'CENTRIX',
 'CHIESI USA',
 'CHOICE SPINE',
 'CIANNA MEDICAL',
 'CIPHER PHARMACEUTICALS US',
 'CLARITY MEDICAL SYSTEM',
 'CLINICIANS CHOICE DENTAL PRODUCTS',
 'COCHLEAR AMERICAS',
 'COGENTIX MEDICAL',
 'COLLAGEN MATRIX',
 'COLOPLAST',
 'COLTENE WHALEDENT',
 'COMSORT',
 'CONFORMIS',
 'CONMED',
 'CONSENSUS ORTHOPEDICS',
 'CONVATEC',
 'CONVENTUS ORTHOPAEDICS',
 'CONVERGENT DENTAL',
 'COOK',
 'COOK BIOTECH',
 'COOK MEDICAL',
 'COOK RESEARCH',
 'COOPERSURGICAL',
 'COOPERVISION',
 'CORCEPT THERAPEUTICS',
 'CORDIS',
 'CORELINK',
 'CORINDUS',
 'CORMATRIX CARDIOVASCULAR',
 'COVIDIEN',
 'COVIDIEN SALES',
 'COVIS PHARMACEUTICALS',
 'CRANIAL TECHNOLOGIES',
 'CRYO SPECIALTY MEDICAL',
 'CRYOLIFE',
 'CSL BEHRING',
 'CUBIST PHARMACEUTICALS',
 'CUMBERLAND PHARMACEUTICALS',
 'CVRX',
 'CYBERONICS',
 'CYNOSURE',
 'D4D TECHNOLOGIES',
 'DAIICHI SANKYO',
 'DARA BIOSCIENCES',
 'DASH MEDICAL GLOVES',
 'DATASCOPE',
 'DAVOL',
 'DELTEX MEDICAL SC',
 'DENDREON',
 'DENMAT HOLDINGS',
 'DENTAL EQUIPMENT',
 'DENTAL HEALTH PRODUCTS',
 'DENTAL IMAGING TECHNOLOGIES',
 'DENTALEZ',
 'DENTIUM CO LTD',
 'DENTIUM USA',
 'DENTSPLY',
 'DENTSPLY IH',
 'DENTSPLY INTERNATIONAL',
 'DENTSPLY NZ LIMITED',
 'DEPOMED',
 'DEPUY ORTHOPAEDICS',
 'DEPUY SYNTHES PRODUCTS',
 'DEPUY SYNTHES SALES',
 'DERMA SCIENCES',
 'DEVICOR MEDICAL PRODUCTS',
 'DEXCEL PHARMA TECHNOLOGIES LTD',
 'DEXCOM',
 'DFINE',
 'DIADEXUS',
 'DIGESTIVE CARE',
 'DIGIRAD',
 'DISCOVERY LABORATORIES',
 'DJO',
 'DMG AMERICA',
 'DORNIER MEDTECH AMERICA',
 'DOXA DENTAL',
 'DRREDDYS LABORATORIES',
 'DS HEALTHCARE',
 'DUCHESNAY USA',
 'DUNE MEDICAL DEVICES',
 'DURATA THERAPEUTICS',
 'DUSA PHARMACEUTICALS',
 'DUTCH OPHTHALMIC USA',
 'DUX INDUSTRIES',
 'DYAX',
 'DYNASPLINT SYSTEMS',
 'DYSIS MEDICAL',
 'EBI MEDICAL SYSTEMS',
 'ECARDIO DIAGNOSTICS',
 'ECKERT ZIEGLER BEBIG',
 'ECR PHARMACEUTICALS CO',
 'EDGEMONT PHARMACEUTICALS',
 'EDWARDS LIFESCIENCES',
 'EGALET US',
 'EISAI',
 'EKOS',
 'ELECTROMED',
 'ELECTRONIC WAVEFORM LAB',
 'ELEKTA',
 'ELEKTA LIMITED',
 'ELI LILLY AND COMPANY',
 'ELLMAN INTERNATIONAL',
 'EMD SERONO',
 'EMERGENT BIOSOLUTIONS',
 'EMPI',
 'ENCORE DERMATOLOGY',
 'ENCORE MEDICAL',
 'ENDO PHARMACEUTICALS',
 'ENDOCARE',
 'ENDOCHOICE',
 'ENDOCO DBA ULTIMATE DENTAL',
 'ENDOGASTRIC SOLUTIONS',
 'ENDOLOGIX',
 'ENDOSHAPE',
 'ENTELLUS MEDICAL',
 'EPIMED INTERNATIONAL',
 'ER SQUIBB SONS',
 'ERBE USA',
 'ERMI',
 'ESSENTIAL DENTAL SYSTEMS',
 'ETHICON',
 'ETHICON ENDOSURGERY',
 'ETHICON US',
 'EXACTA DENTAL PRODUCTS',
 'EXACTECH',
 'EXELIXIS',
 'EXELTIS USA',
 'EXTREMITY MEDICAL',
 'F HOFFMANNLA ROCHE AG',
 'FERRING INTERNATIONAL CENTER SA',
 'FERRING PHARMACEUTICALS',
 'FIDIA PHARMA USA',
 'FISHER PAYKEL HEALTHCARE',
 'FISHER SCIENTIFIC COMPANY',
 'FLOWONIX MEDICAL',
 'FOREST PHARMACEUTICALS',
 'FOREST RESEARCH INSTITUTE',
 'FRESENIUS USA',
 'FRESENIUS USA MARKETING',
 'FSC LABORATORIES',
 'FUJIFILM MEDICAL SYSTEMS USA',
 'FUJIFILM SONOSITE',
 'GAC INTERNATIONAL',
 'GALDERMA LABORATORIES',
 'GALEN US',
 'GALENA BIOPHARMA',
 'GAMBRO AAB',
 'GAMMA MEDICA',
 'GAUSS SURGICAL',
 'GC AMERICA',
 'GE HEALTHCARE',
 'GEBAUER COMPANY',
 'GEISTLICH PHARMA NORTH AMERICA',
 'GEMINI LABORATORIES',
 'GENENTECH',
 'GENENTECH USA',
 'GENZYME',
 'GI SUPPLY',
 'GILEAD SCIENCES',
 'GIVEN IMAGING',
 'GIVEN IMAGING LTD',
 'GLAUKOS',
 'GLAXOSMITHKLINE',
 'GLOBUS MEDICAL',
 'GREAT LAKES MEDICAL SERVICES',
 'GREATBATCH',
 'GREER LABORATORIES',
 'GRIFOLS SHARED SERVICES',
 'GRIFOLS USA',
 'GUERBET',
 'H LUNDBECK A S',
 'HAEMONETICS',
 'HALOZYME',
 'HALT MEDICAL',
 'HALYARD HEALTH',
 'HANSEN MEDICAL',
 'HARVEST TECHNOLOGIES',
 'HEARTWARE',
 'HEIDELBERG ENGINEERING',
 'HENRY SCHEIN',
 'HENRY SCHEIN PRACTICE SOLUTIONS',
 'HERAEUS KULZER',
 'HF ACQUISITION CO',
 'HIOSSEN',
 'HITACHI ALOKA MEDICAL AMERICA',
 'HITACHI MEDICAL SYSTEMS AMERICA',
 'HOFFMANNLA ROCHE LIMITED',
 'HOLLISTER',
 'HOLOGIC',
 'HORIZON PHARMA PLC',
 'HORIZON PHARMA RHEUMATOLOGY',
 'HORIZON PHARMA USA',
 'HOSPIRA WORLDWIDE',
 'HOYA SURGICAL OPTICS',
 'HUFRIEDY MFG CO',
 'HYPERION THERAPEUTICS',
 'HZNP USA',
 'IBA MOLECULAR NORTH AMERICA',
 'ICAD',
 'ICONACY_ORTHOPEDIC_IMPLANTS_',
 'IMPAX LABORATORIES',
 'IMPEDIMED',
 'IMPLANT DIRECT SYBRON INTERNATIONAL',
 'INDIVIOR',
 'INNOCUTIS HOLDINGS',
 'INNOVASIS',
 'INNOVATIVE CRYOSURGERY',
 'INNOVATIVE LASERS',
 'INNOVATIVE MEDICAL TECHNOLOGIES',
 'INNOVATIVE OPHTHALMIC PRODUCTS',
 'INO THERAPEUTICS',
 'INOVA LABS',
 'INSTRADENT USA',
 'INSTRUMENTATION LABORATORY COMPANY',
 'INSULET',
 'INSYS THERAPEUTICS',
 'INTEGRA LIFESCIENCES',
 'INTEGRA LIFESCIENCES SALES',
 'INTEGRA SALES',
 'INTEGRATED DENTAL SYSTEMS',
 'INTERMUNE',
 'INTERSECT ENT',
 'INTUITIVE SURGICAL',
 'INTUITIVE SURGICAL OPERATIONS',
 'IPSEN BIOPHARM LIMITED',
 'IPSEN BIOPHARMACEUTICALS',
 'IPSEN INNOVATION',
 'IRHYTHM TECHNOLOGIES',
 'IROKO PHARMACEUTICALS',
 'IRONWOOD PHARMACEUTICALS',
 'ISORAY',
 'ISOTIS ORTHOBIOLIGICS',
 'ISTO TECHNOLOGIES',
 'IVOCLAR VIVADENT',
 'J MORITA USA',
 'JANSSEN BIOTECH',
 'JANSSEN DIAGNOSTICS',
 'JANSSEN GLOBAL SERVICES',
 'JANSSEN PHARMACEUTICALS',
 'JANSSEN PRODUCTS',
 'JANSSEN RESEARCH DEVELOPMENT',
 'JANSSEN SCIENTIFIC AFFAIRS',
 'JAZZ PHARMACEUTICALS',
 'JOHNSON AND JOHNSON INTERNATIONAL',
 'JOHNSON JOHNSON HEALTH CARE SYSTEMS',
 'JOHNSON JOHNSON VISION CARE',
 'JUBILANT HOLLISTERSTIER',
 'K2M',
 'KADMON PHARMACEUTICALS',
 'KAIROS SURGICAL',
 'KALEO',
 'KARLSTORZ ENDOSCOPYAMERICA',
 'KCI USA',
 'KEDRION BIOPHARMA',
 'KENSEY NASH',
 'KERR',
 'KERYX BIOPHARMACEUTICALS',
 'KEYSTONE DENTAL',
 'KEYSTONE SURGICAL SYSTEMS',
 'KLS MARTIN',
 'KONAN MEDICAL USA',
 'KOWA PHARMACEUTICALS AMERICA',
 'KURARAY AMERICA',
 'LABORIE MEDICAL TECHNOLOGIES',
 'LANNETT COMPANY',
 'LANTHEUS MEDICAL IMAGING',
 'LANX',
 'LASER SPECIALTY MEDICAL',
 'LDR SPINE USA',
 'LEMAITRE VASCULAR',
 'LENSAR',
 'LEO PHARMA',
 'LEO PHARMA AS',
 'LIBERTY SURGICAL',
 'LIFE SPINE',
 'LIFECELL',
 'LIFENET HEALTH',
 'LIFESCAN',
 'LIFEWATCH SERVICES',
 'LIGHTSCAEL',
 'LILLY USA',
 'LINEAGE THERAPEUTICS',
 'LINVATEC',
 'LIPOSCIENCE',
 'LIVENTA BIOSCIENCES',
 'LOMBARD MEDICAL TECHNOLOGIES',
 'LSI SOLUTIONS',
 'LUITPOLD PHARMACEUTICALS',
 'LUMARA HEALTH',
 'LUMENIS',
 'LUMINEX',
 'LUNDBECK',
 'LUNG BIOTECHNOLOGY',
 'LUPIN PHARMACEUTICALS',
 'LUTONIX',
 'MACULOGIX',
 'MAKO SURGICAL',
 'MALLKRODT',
 'MAQUET CARDIOVASCULAR',
 'MAQUET CARDIOVASCULAR US SALES',
 'MARATHON PHARMACEUTICALS',
 'MARCO OPHTHALMIC',
 'MASIMO',
 'MATERIALISE DENTAL',
 'MATERIALISE USA',
 'MAUNA KEA TECHNOLOGIES',
 'MAXX ORTHOPEDICS',
 'MAYNE PHARMA',
 'MAZOR ROBOTICS',
 'MCKESSON SPECIALTY CARE DISTRIBUTION',
 'MEDA PHARMACEUTICALS',
 'MEDAC PHARMA',
 'MEDACTA USA',
 'MEDAFOR',
 'MEDARTIS',
 'MEDEL',
 'MEDELA',
 'MEDERI THERAPEUTICS',
 'MEDICOMP',
 'MEDICREA USA',
 'MEDIMETRIKS PHARMACEUTICALS',
 'MEDIMMUNE',
 'MEDIVANCE',
 'MEDIVATION',
 'MEDIVATORS',
 'MEDLINE INDUSTRIES',
 'MEDRAD',
 'MEDTRONIC',
 'MEDTRONIC MINIMED',
 'MEDTRONIC NEUROVASCULAR',
 'MEDTRONIC SOFAMOR DANEK USA',
 'MEDTRONIC USA',
 'MEDTRONIC VASCULAR',
 'MEDTRONIC XOMED',
 'MEISINGER USA',
 'MELA SCIENCES',
 'MENTOR WORLDWIDE',
 'MERCATOR MEDSYSTEMS',
 'MERCEDES MEDICAL',
 'MERCK SHARP DOHME',
 'MERGE HEALTHCARE',
 'MERIDIAN BIOSCIENCE',
 'MERIT MEDICAL SYSTEMS',
 'MERZ',
 'MERZ NORTH AMERICA',
 'METREX RESEARCH',
 'MICROAIRE SURGICAL INSTRUMENTS',
 'MICROPORT ORTHOPEDICS',
 'MICROVENTION',
 'MIDATECH PHARMA US',
 'MIDMARK',
 'MILLENNIUM PHARMACEUTICALS',
 'MILLIKEN HEALTHCARE PRODUCTS',
 'MINDRAY DS USA',
 'MIROMATRIX MEDICAL',
 'MIS IMPLANTS TECHNOLOGIES',
 'MISONIX',
 'MISSION PHARMACAL COMPANY',
 'MIST PHARMACEUTICALS',
 'MOLNLYCKE HEALTH CARE US',
 'MONTERIS MEDICAL',
 'MRI INTERVENTIONS',
 'MUSCULOSKELETAL TRANSPLANT FOUNDATION',
 'MYDENT INTERNATIONAL',
 'MYLAN PHARMACEUTICALS',
 'MYLAN SPECIALTY',
 'MYRIAD GENETIC LABORATORIES',
 'NANOSPHERE',
 'NANOSTRING TECHNOLOGIES',
 'NATIONAL DENTEX',
 'NAUTILUS NEUROSCIENCES',
 'NCONTACT SURGICAL',
 'NDI MEDICAL',
 'NEOMEDIX',
 'NEOMEND',
 'NEOTRACT',
 'NEURONETICS',
 'NEUROPACE',
 'NEUROTHERM',
 'NEUWAVE MEDICAL',
 'NEVRO',
 'NEW STAR LASERS',
 'NEW WAVE SURGICAL',
 'NEW WORLD MEDICAL',
 'NEXTREMITY SOLUTIONS',
 'NICO',
 'NINEPOINT MEDICAL',
 'NOBEL BIOCARE USA',
 'NONIN MEDICAL',
 'NORGENIX PHARMACEUTICALS',
 'NORTHEAST CRYOTHERAPY',
 'NOVADAQ TECHNOLOGIES',
 'NOVARTIS CONSUMER HEALTH',
 'NOVARTIS PHARMA AG',
 'NOVARTIS PHARMACEUTICALS',
 'NOVARTIS VACCINES AND DIAGNOSTICS',
 'NOVEN PHARMACEUTICALS',
 'NOVEN THERAPEUTICS',
 'NOVO NORDISK',
 'NOVO NORDISK AS',
 'NOVOCURE',
 'NOVUM PHARMA',
 'NPS PHARMACEUTICALS',
 'NUVASIVE',
 'NXSTAGE MEDICAL',
 'OASIS MEDICAL',
 'OCTAPHARMA USA',
 'OCULAR THERAPEUTIX',
 'OCULUS',
 'OLYMPUS AMERICA',
 'OLYMPUS BIOTECH',
 'OLYMPUS OF THE AMERICAS',
 'OMEROS',
 'OMNIGUIDE',
 'ONSET DERMATOLOLOGY',
 'ONYX PHARMACEUTICALS AN AMGEN SUBSIDIARY',
 'OPTIMEDICA',
 'OPTIMER PHARMACEUTICALS',
 'OPTOS',
 'OPTOS PLC',
 'OPTOVUE',
 'OREXO US',
 'ORGAN RECOVERY SYSTEMS',
 'ORGANOGENESIS',
 'ORIGIO',
 'ORMCO',
 'ORTHALIGN',
 'ORTHO DEVELOPMENT',
 'ORTHO ORGANIZERS',
 'ORTHO SOLUTIONS',
 'ORTHOFIX INTERNATIONAL NV',
 'ORTHOPEDIATRICS',
 'ORTHOSENSOR',
 'OSIRIS THERAPEUTICS',
 'OSSEON',
 'OSTEOMED',
 'OSTEOREADY',
 'OTICON MEDICAL',
 'OTSUKA AMERICA PHARMACEUTICAL',
 'OTSUKA PHARMACEUTICAL CO LTD',
 'OTSUKA PHARMACEUTICAL DEVELOPMENT COMMERCIALIZATION',
 'OXFORD IMMUNOTEC',
 'OZARK CRYOSURGERY',
 'PACIRA PHARMACEUTICALS',
 'PANORAMIC RENTAL',
 'PAR PHARMACEUTICAL',
 'PARADIGM SPINE',
 'PARAGON 28',
 'PATTERSON COMPANIES',
 'PENUMBRA',
 'PERNIX THERAPEUTICS HOLDINGS',
 'PERRIGO COMPANY PLC',
 'PETER BRASSELER HOLDINGS',
 'PFIZER',
 'PFIZER HONG KONG LIMITED',
 'PFIZER INTERNATIONAL',
 'PFIZER PHARMA GMBH',
 'PFIZER PHARMACEUTICALS',
 'PHADIA US',
 'PHARMACYCLICS',
 'PHARMACYCLICS AN ABBVIE COMPANY',
 'PHILIPS ELECTRONICS NORTH AMERICA',
 'PHOTOCURE',
 'PIERRE FABRE PHARMACEUTICALS',
 'PINNACLE BIOLOGICS',
 'PIRAMAL IMAGING LIMITED',
 'PLANMECA USA',
 'PLASMA SURGICAL',
 'PRECISION SPINE',
 'PRECISION THERAPEUTICS',
 'PREMIER DENTAL PRODUCTS COMPANY',
 'PRODIGY SURGICAL DISTRIBUTION',
 'PROMETHEUS LABORATORIES',
 'PROMIUS PHARMA',
 'PROSTRAKAN',
 'PROVIDENCE MEDICAL TECHNOLOGY',
 'PRUGEN PHARMACEUTICALS',
 'PSS WORLD MEDICAL',
 'PUDENT',
 'PURDUE PHARMA',
 'PURDUE TRANSDERMAL TECHNOLOGIES',
 'PURELIFE',
 'QIAGEN SCIENCES',
 'QOL MEDICAL',
 'QUEST MEDICAL',
 'QUESTCOR PHARMACEUTICALS',
 'RADIOMETER AMERICA',
 'RAINTREE ESSIX',
 'RANBAXY',
 'RAPID PATHOGEN SCREENING',
 'RAPTOR PHARMACEUTICALS',
 'RAYSEARCH LABORATORIES AB PUBL',
 'RECKITT BENCKISER',
 'RECKITT BENCKISER PHARMACEUTICALS',
 'REGENERON HEALTHCARE SOLUTIONS',
 'REGENERON PHARMACEUTICALS',
 'REICHERT',
 'RENAISSANCE PHARMA',
 'RESMED',
 'RESPICARDIA',
 'RESPIRATORY TECHNOLOGIES',
 'RETROPHIN',
 'RHODES PHARMACEUTICALS',
 'RICHARD WOLF MEDICAL INSTRUMENTS',
 'RICHARDALLAN SCIENTIFIC COMPANY',
 'RIKCO INTERNATIONAL',
 'ROANOKE AREA SURGICAL LASERS',
 'ROCHE DIABETES CARE',
 'ROCHE DIAGNOSTICS',
 'ROCHE HEALTH SOLUTIONS',
 'ROCHE PRODUCTS LIMITED',
 'ROCHE TCRC',
 'ROCHESTER MEDICAL',
 'ROMARK LABORATORIES LC',
 'ROTATION MEDICAL',
 'RTI SURGICAL',
 'SAFCO DENTAL SUPPLY CO',
 'SAGENT PHARMACEUTICALS',
 'SALIX PHARMACEUTICALS LTD',
 'SALVIN DENTAL SPECIALTIES',
 'SANDOZ',
 'SANOFI PASTEUR',
 'SANOFI US SERVICES',
 'SANOFIAVENTIS US',
 'SANTARUS',
 'SAUFLON PHARMACEUTICALS',
 'SCANLAN INTERNATIONAL',
 'SCICAN',
 'SEAPEARL',
 'SEATTLE GENETICS',
 'SEBELA PHARMACEUTICALS',
 'SECOND SIGHT MEDICAL PRODUCTS',
 'SENSUS HEALTHCARE',
 'SENTYNL THERAPEUTICS',
 'SEPTODONT',
 'SEQIRUS USA',
 'SHIONOGI',
 'SHIRE NORTH AMERICAN GROUP',
 'SHIRE US HOLDINGS',
 'SHOFU DENTAL',
 'SIBONE',
 'SIEMENS HEARING INSTRUMENTS',
 'SIEMENS MEDICAL SOLUTIONS USA',
 'SIENTRA',
 'SIGMATAU PHARMACEUTICALS',
 'SILVERGATE PHARMACEUTICALS',
 'SIRONA DENTAL SYSTEMS',
 'SIRTEX MEDICAL',
 'SKELETAL DYNAMICS',
 'SMALL BONE INNOVATIONS',
 'SMITH NEPHEW',
 'SMITHS MEDICAL ASD',
 'SOBI',
 'SOLANA SURGICAL',
 'SONACARE MEDICAL',
 'SONOMA ORTHOPEDICS',
 'SORIN CRM USA',
 'SORIN GROUP USA',
 'SPECTRUM PHARMACEUTICALS',
 'SPINAL MODULATION',
 'SPINE VIEW',
 'SPINE WAVE',
 'SPINEART USA',
 'SPINEFRONTIER',
 'SPINEGUARD',
 'SPINEOLOGY',
 'SPINESMITH HOLDINGS',
 'SPIRACUR',
 'SPIRATION',
 'SS WHITE BURS',
 'ST JUDE MEDICAL',
 'STAAR SURGICAL COMPANY',
 'STABILITY',
 'STEREOTAXIS',
 'STRATEGIC DENTISTRY',
 'STRAUMANN USA',
 'STRYKER',
 'SUCAMPO PHARMA AMERICAS',
 'SUNOVION PHARMACEUTICALS',
 'SUNSHINE HEART',
 'SUNSTAR AMERICAS',
 'SUPERNUS PHARMACEUTICALS',
 'SURGIQUEST',
 'SYNAPTIVE MEDICAL',
 'SYNERGETICS USA',
 'SYNERGEYES',
 'SYNTHES USA PRODUCTS',
 'SYSMEX INOSTICS',
 'SYSTAGENIX WOUND MANAGEMENT',
 'TACTILE SYSTEMS TECHNOLOGY',
 'TAKEDA PHARMACEUTICALS AMERICA',
 'TAKEDA PHARMACEUTICALS INTERNATIONAL',
 'TAKEDA PHARMACEUTICALS USA',
 'TANDEM DIABETES CARE',
 'TARO PHARMACEUTICALS USA',
 'TEARLAB',
 'TEI BIOSCIENCES',
 'TEI MEDICAL',
 'TELEFLEX MEDICAL',
 'TEM SYSTEMS',
 'TENEX HEALTH',
 'TEPHA',
 'TERUMO BCT',
 'TERUMO CARDIOVASCULAR SYSTEMS',
 'TERUMO MEDICAL',
 'TEVA PHARMACEUTICALS USA',
 'THE CAMERONEHLEN GROUP',
 'THE MEDICINES COMPANY',
 'THE SPECTRANETICS',
 'THE WALMAN OPTICAL COMPANY',
 'THERATECHNOLOGIES',
 'THERAVANCE',
 'THERRX',
 'THORATEC',
 'THROMBOGENICS',
 'TISSUETECH',
 'TITAN SPINE',
 'TOKUYAMA DENTAL AMERICA',
 'TOLMAR PHARMACEUTICALS',
 'TOPCON',
 'TOPCON MEDICAL SYSTEMS',
 'TOPERA',
 'TORAX MEDICAL',
 'TORNIER',
 'TOSHIBA AMERICA MEDICAL SYSTEMS',
 'TOSOH BIOSCIENCE',
 'TOTAL JOINT ORTHOPEDICS',
 'TRILLIANT SURGICAL LTD',
 'TRIREME MEDICAL',
 'TRIVASCULAR',
 'TULSA DENTAL PRODUCTS',
 'TURING PHARMACEUTICALS',
 'TYRX',
 'UCB',
 'UCB SA',
 'UHS SURGICAL SERVICES',
 'ULTRADENT PRODUCTS',
 'UNITED THERAPEUTICS',
 'UNIVERSAL MEDICAL',
 'UPSHERSMITH LABORATORIES',
 'UROLOGIX',
 'UROPLASTY',
 'US ENDOSCOPY',
 'US IMPLANT SOLUTIONS',
 'US WORLDMEDS',
 'VALEANT PHARMACEUTICALS NORTH AMERICA',
 'VALERITAS',
 'VALIDUS PHARMACEUTICALS',
 'VANDA PHARMACEUTICALS',
 'VANSEN PHARMA',
 'VAPOTHERM',
 'VARIAN MEDICAL SYSTEMS',
 'VASAMED',
 'VASCULAR INSIGHTS',
 'VASCULAR SOLUTIONS',
 'VAXSERVE',
 'VENITI',
 'VENTANA MEDICAL SYSTEMS',
 'VERAN MEDICAL TECHNOLOGIES',
 'VERMILLION',
 'VERTEX PHARMACEUTICALS',
 'VERTICAL PHARMACEUTICALS',
 'VERTOS MEDICAL',
 'VIIV HEALTHCARE COMPANY',
 'VIROPHARMA',
 'VISIONARY OPTICS',
 'VISIONCARE OPHTHALMIC TECHNOLOGIES',
 'VISIONSCOPE TECHNOLOGIES',
 'VISUALASE',
 'VITAPHONE_USA_',
 'VIVUS',
 'VOCO AMERICA',
 'VOLCANO',
 'W L GORE ASSOCIATES',
 'WARNER CHILCOTT',
 'WELCH ALLYN',
 'WENZEL SPINE',
 'WOCKHARDT USA',
 'WOUND CARE TECHNOLOGIES',
 'WRIGHT MEDICAL TECHNOLOGY',
 'WRIGHT THERAPY PRODUCTS',
 'XENOPORT',
 'XSPINE SYSTEMS',
 'YOUNG DENTAL MANUFACTURING I',
 'YOUNG PS ACQUISITIONS',
 'YTE',
 'ZIEHM IMAGING',
 'ZIMMER BIOMET HOLDINGS',
 'ZOGENIX',
 'ZOLL CIRCULATION',
 'ZOLL LIFECOR',
 'ZOLL MEDICAL',
 'ZYGA TECHNOLOGY']

In [162]:
len(np.intersect1d(sorted(scripts['drug_company'].unique()),sorted(x)))

113

In [163]:
scripts.to_csv('/volumes/Seagate/Galvanize/nj_scripts_all_years.csv',index=False)

In [2]:
doc_info = pd.read_csv('/Volumes/Seagate/Galvanize/nj_doc_info.csv',dtype={'Zip Code':object,'NPI':object})
doc_info.fillna(value='-',inplace=True)
paid = pd.read_csv('/Volumes/Seagate/Galvanize/nj_payments_all_years_consl.csv',
                            dtype={'zip':object,'npi':object,'company_id':object}, \
                  usecols=[1,2,3,10,11,12,13,26])

In [3]:
paid.head(2)

,npi,fn,ln,company,amount,form,nature,year
0,1174629083,FATIMA,ASGHAR,FOREST PHARMACEUTICALS,14.83,In-kind items and services,Food and Beverage,2013
1,1386735850,RAGHUVEER,ANNAM,FOREST PHARMACEUTICALS,72.90,In-kind items and services,Food and Beverage,2013

In [9]:
len(doc_info)

26429

In [5]:
notpaid = list(set(doc_info.NPI)-set(paid.npi))

In [10]:
doc_info_paid = doc_info[~doc_info['NPI'].isin(notpaid)]

In [11]:
doc_info_paid.to_csv('/Volumes/Seagate/Galvanize/nj_doc_info_paid.csv',index=False)

In [52]:
script = pd.read_csv('/Volumes/Seagate/Galvanize/nj_scripts_all_years.csv',dtype={'zip':object})

In [20]:
script.head(2)

,amount_brand,brand_drug?,city,drug_company,drug_name,fn,generic_name,ln,npi,recieved_payments,specialty_description,state,total_claim_count,total_day_supply,total_drug_cost,year
0,48,True,MAYWOOD,PFIZER,VIAGRA,VINCENT,SILDENAFIL,LANTERI,1528036670,True,Urology,NJ,48,1481,8957.33,2013
1,0,False,MAYWOOD,NaN,CLOTRIMAZOLE BETAMETHASONE,VINCENT,CLOTRIMAZOLE BETAMETHASONE,LANTERI,1528036670,True,Urology,NJ,16,367,806.59,2013

In [24]:
doc_info

,amount_brand,brand_drug?,city,drug_company,drug_name,fn,generic_name,ln,npi,recieved_payments,specialty_description,state,total_claim_count,total_day_supply,total_drug_cost,year
0,48,True,MAYWOOD,PFIZER,VIAGRA,VINCENT,SILDENAFIL,LANTERI,1528036670,True,Urology,NJ,48,1481,8957.33,2013
1,0,False,MAYWOOD,NaN,CLOTRIMAZOLE BETAMETHASONE,VINCENT,CLOTRIMAZOLE BETAMETHASONE,LANTERI,1528036670,True,Urology,NJ,16,367,806.59,2013

In [32]:
l = list(script[script['brand_drug?'] == False].index.values)

In [33]:
for i in list(script[script['brand_drug?'] == False].index.values):
    script.at[i,'drug_company'] = 'GENERIC'

In [ ]:
for i in list(script[(script['brand_drug?'] == True) & ].index.values)sc:
    script.at[i,'drug_company'] = 'GENERIC'

In [34]:
scscript[(script['brand_drug?'] == True) & (script['brand_drug?'] not in dic)]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [38]:
x = script[~script['drug_name'].isin(dic)]

In [39]:
x[x['brand_drug?']==True]

,amount_brand,brand_drug?,city,drug_company,drug_name,fn,generic_name,ln,npi,recieved_payments,specialty_description,state,total_claim_count,total_day_supply,total_drug_cost,year
248904,12,True,VOORHEES,NaN,TRANXENE T TAB,EDWARD,CLORAZEPATEOTASSIUM,SKOBAC,1285607671,False,Internal Medicine,NJ,12,360,4409.84,2013
256689,14,True,EAST BRUNSWICK,NaN,BLEPHAMIDE S O P,KENNETH,SULFACETM NA PREDNISOL AC,YANG,1114985595,True,Ophthalmology,NJ,14,157,1188.78,2013
269138,12,True,WOODSTOWN,NaN,TRI PREVIFEM,JAMES,NORGESTIMATE ETHINYL ESTRADIOL,HUBBS,1922078906,False,Family Practice,NJ,12,342,248.40,2013
295512,12,True,EATONTOWN,NaN,NEPHRO VITE RX,ALAN,VIT B CMPLX 3 FA VIT C BIOTIN,HARATZ,1336155688,True,Nephrology,NJ,12,360,41.90,2013
296850,11,True,HAMMONTON,NaN,DILATRATE SR,ANTHONY,ISOSORBIDE DINITRATE,SALVO,1841236080,True,Family Practice,NJ,11,330,885.90,2013
300606,11,True,VINELAND,NaN,ERY TAB,ASHOK,ERYTHROMYCIN,PILLY,1801997523,True,Cardiology,NJ,11,182,910.67,2013
307829,12,True,TRENTON,NaN,MONO LINYAH,SADIA,NORGESTIMATE ETHINYL ESTRADIOL,QAZI,1467491563,True,Internal Medicine,NJ,12,336,247.40,2013
320041,18,True,LITTLE FALLS,NaN,BIFERA RX,JEFFREY,IRON PS IRON HEM POLY FA B12,FARNESE,1730269994,False,Internal Medicine,NJ,18,540,1257.63,2013
322073,14,True,PLEASANTVILLE,NaN,MONOJECT INSULIN SAFETY SYRNG,CHRISTINE,SYRINGE W NDL DISP INSULIN,ABLETT,1134452832,False,Nurse Practitioner,NJ,14,350,573.86,2013
325465,13,True,TOMS RIVER,NaN,LOW OGESTREL,CORINNE,NORGESTREL ETHINYL ESTRADIOL,MALMBERG,1023054574,False,Nurse Practitioner,NJ,13,364,297.70,2013
329155,20,True,TEANECK,NaN,METAFOLBIC PLUS,JOEL,ACETYL METHYL B12 LMEFOLATE CA,ADLER,1679655930,True,Geriatric Medicine,NJ,20,600,1298.94,2013
331821,13,True,WEST ORANGE,NaN,KELNOR 1 35,ROBERT,ETHYNODIOL D ETHINYL ESTRADIOL,TAYLOR,1629075593,True,Obstetrics/Gynecology,NJ,13,364,314.08,2013
346617,12,True,EDISON,NaN,FOSTEUM,WARREN,GENISTEIN CIT ZN BISGLY VIT D3,BUCK,1720019532,True,Internal Medicine,NJ,12,360,681.59,2013
365277,12,True,RIVERSIDE,NaN,MEPERITAB,JONATHAN,MEPERIDINE,WISEMAN,1063548154,False,Family Practice,NJ,12,360,749.40,2013
374946,19,True,HOWELL,NaN,BICILLIN C R,STEVEN,PEN G BENZ PEN G PROCAINE,STREIT,1467476861,True,Internal Medicine,NJ,19,883,6278.54,2013
382599,21,True,HAMILTON,NaN,PROFERRIN FORTE,ROHIT,FE HEME POLYPEPTIDE FOLIC ACID,ARAS,1750401915,True,Nephrology,NJ,21,630,394.17,2013
388245,11,True,HAMILTON,NaN,PROFERRIN FORTE,ZAKARIA,FE HEME POLYPEPTIDE FOLIC ACID,MANIYA,1164496832,True,Nephrology,NJ,11,570,329.79,2013
410849,14,True,MOORESTOWN,NaN,MONOJECT INSULIN SAFETY SYRNG,KENNETH,SYRINGE W NDL DISP INSULIN,GIACOBBO,1689618639,True,Internal Medicine,NJ,14,395,586.38,2013
420850,11,True,MANASQUAN,NaN,VOL CARE RX,DAVID,VIT B CMPLX 3 FA VIT C BIOTIN,CHELI,1043205685,True,Internal Medicine,NJ,11,330,249.04,2013
434817,39,True,BEDMINSTER,NaN,LOW OGESTREL,JUDITH,NORGESTREL ETHINYL ESTRADIOL,HERSH,1922152909,True,Obstetrics/Gynecology,NJ,39,1092,937.92,2013
449017,12,True,HOBOKEN,NaN,X VIATE,STEVEN,UREA,GARCIA,1073668679,True,Family Practice,NJ,12,210,488.52,2013
453255,13,True,ABSECON,NaN,RISPERDAL M TAB,RITA,RISPERIDONE ODT,KAMMIEL,1427142736,True,Psychiatry,NJ,13,364,7791.55,2013
473751,21,True,UNION,NaN,BIFERA RX,PRADEEP,IRON PS IRON HEM POLY FA B12,MAHAL,1063551687,True,Medical Oncology,NJ,21,630,1071.86,2013
483313,14,True,ELIZABETH,NaN,FML S O P,WARREN,FLUOROMETHOLONE,KLEIN,1114912342,False,Ophthalmology,NJ,14,249,847.18,2013
489394,12,True,RAMSEY,NaN,PREVIDENT 5000 PLUS,DOUGLAS,SODIUM FLUORIDE,MARION,1336207455,True,Dentist,NJ,12,405,148.59,2013
505174,11,True,NEW BRUNSWICK,NaN,TERUMO INSULIN SYRINGE,STEVEN,SYRING W NDL DISP INSUL 0 5ML,LEVIN,1780777235,False,Family Practice,NJ,11,380,215.97,2013
520806,16,True,SOMERSET,NaN,LIDOCAINE HYDROCORTISONE,SYED,HYDROCORTISONE AC LIDOCAINE,SHAMIM,1811985047,False,Gastroenterology,NJ,16,216,1789.84,2013
520898,11,True,LAWRENCEVILLE,NaN,FML S O P,ROBERT,FLUOROMETHOLONE,CHIANG,1306849526,True,Ophthalmology,NJ,11,160,596.20,2013
522157,13,True,HILLSBOROUGH,NaN,ERY TAB,RONALD,ERYTHROMYCIN,NAHASS,1023084928,True,Infectious Disease,NJ,13,390,2674.83,2013
530606,11,True,WESTWOOD,NaN,MAXALT MLT,ALAN,RIZATRIPTAN,ISRAEL,1710987730,False,Hematology/Oncology,NJ,11,110,6237.62,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2584735,19,True,FAIR LAWN,NaN,NEO POLYMYX B SULF DEXAMETH,NATALIA,NEOMYCIN POLYMYXIN B DEXAMETHA,RAEVA,1508802513,False,Optometry,NJ,19,274,300.39,2016
2585455,14,True,MONROE,NaN,NEO POLYMYX B SULF DEXAMETH,MICHAEL,NEOMYCIN POLYMYXIN B DEXAMETHA,TROTTINI,1871787028,False,Optometry,NJ,14,170,219.48,2016
2585864,11,True,FORKED RIVER,NaN,PREVIDENT 5000 SENSITIVE,SHANNON,SODIUM FLUORIDE POTASSIUM NIT,KEYES,1285852871,False,Dentist,NJ,11,630,200.03,2016
2586109,14,True,MOUNT HOLLY,NaN,NEO POLYMYX B SULF DEXAMETH,RICHARD,NEOMYCIN POLYMYXIN B DEXAMETHA,ALTAMURA,1891722625,False,Emergency Medicine,NJ,14,125,191.76,2016
2586492,25,True,HADDON HEIGHTS,NaN,NEO POLYMYX B SULF DEXAMETH,PAUL,NEOMYCIN POLYMYXIN B DEXAMETHA,KOSSIS,1194892455,False,Optometry,NJ,25,525,410.88,2016
2587243,15,True,TOMS RIVER,NaN,NEO POLYMYX B SULF DEXAMETH,LISA,NEOMYCIN POLYMYXIN B DEXAMETHA,ATHWAL,1043576630,False,Ophthalmology,NJ,15,169,234.12,2016
2587283,12,True,LITTLE EGG HARBOR TWP,NaN,NEO POLYMYX B SULF DEXAMETH,JOHN,NEOMYCIN POLYMYXIN B DEXAMETHA,ELLIS,1871569244,False,Optometry,NJ,12,129,209.53,2016
2587336,11,True,NEPTUNE,NaN,NEO POLYMYX B SULF DEXAMETH,TINA,NEOMYCIN POLYMYXIN B DEXAMETHA,SHAH,1992930572,False,Optometry,NJ,11,129,216.44,2016
2587547,18,True,MORRISTOWN,NaN,HUMALOG KWIKPEN U 100,AHSAN,INSULIN LISPRO,KAZMI,1013212570,False,Internal Medicine,NJ,18,90,1828.90,2016
2588165,14,True,CLIFTON,NaN,TRI PREVIFEM,EDWARD,NORGESTIMATE ETHINYL ESTRADIOL,KUGLER,1326093204,False,Obstetrics/Gynecology,NJ,14,392,183.70,2016
2588333,21,True,CLIFTON,NaN,HUMIRA PEN,NATAN,ADALIMUMAB,KROHN,1306005962,False,Gastroenterology,NJ,21,588,84618.86,2016
2588371,13,True,EDISON,NaN,PREVIDENT 5000 PLUS,STEVEN,SODIUM FLUORIDE,SITRIN,1154492007,False,Dentist,NJ,13,753,216.12,2016
2588510,27,True,TOMS RIVER,NaN,HUMALOG KWIKPEN U 100,PAULA,INSULIN LISPRO,IMAI,1326298993,False,Internal Medicine,NJ,27,1785,23075.86,2016
2588588,19,True,ISELIN,NaN,NEO POLYMYX B SULF DEXAMETH,JOSEPH,NEOMYCIN POLYMYXIN B DEXAMETHA,NAPOLITANO,1023009131,False,Ophthalmology,NJ,19,224,273.49,2016
2588706,16,True,CLARK,NaN,NEO POLYMYX B SULF DEXAMETH,MIRIAM,NEOMYCIN POLYMYXIN B DEXAMETHA,JACOBS,1205264694,False,Ophthalmology,NJ,16,275,261.20,2016
2589519,24,True,MANASQUAN,NaN,NEO POLYMYX B SULF DEXAMETH,PAUL,NEOMYCIN POLYMYXIN B DEXAMETHA,MAZUR,1801865050,False,Optometry,NJ,24,251,394.55,2016
2589651,14,True,LIVINGSTON,NaN,PREVIDENT 5000 PLUS,HOWARD,SODIUM FLUORIDE,EHRENKRANZ,1518187491,False,Dentist,NJ,14,569,195.86,2016
2589652,12,True,LIVINGSTON,NaN,PREVIDENT 5000 SENSITIVE,HOWARD,SODIUM FLUORIDE POTASSIUM NIT,EHRENKRANZ,1518187491,False,Dentist,NJ,12,340,154.20,2016
2589919,40,True,VINELAND,NaN,NEO POLYMYX B SULF DEXAMETH,TERRANCE,NEOMYCIN POLYMYXIN B DEXAMETHA,HEACOX,1841320132,False,Optometry,NJ,40,419,683.75,2016
2590127,11,True,WEST ORANGE,NaN,PRALUENT PEN,SUSAN,ALIROCUMAB,GUIRY,1912348954,False,Nurse Practitioner,NJ,11,476,19672.77,2016
2590290,12,True,OLD BRIDGE,NaN,NEO POLYMYX B SULF DEXAMETH,NATHALIE,NEOMYCIN POLYMYXIN B DEXAMETHA,CHEN,1265746697,False,Optometry,NJ,12,140,163.67,2016
2590912,15,True,ORANGE,NaN,PREVIDENT 5000 SENSITIVE,RAJAL,SODIUM FLUORIDE POTASSIUM NIT,PATEL,1699987206,False,Dentist,NJ,15,366,197.34,2016
2591825,19,True,MAYWOOD,NaN,NEO POLYMYX B SULF DEXAMETH,CHARLES,NEOMYCIN POLYMYXIN B DEXAMETHA,SHIEL,1306848536,False,Optometry,NJ,19,233,305.82,2016
2591866,54,True,MARGATE CITY,NaN,NEO POLYMYX B SULF DEXAMETH,SARA,NEOMYCIN POLYMYXIN B DEXAMETHA,SHKALIM,1811203276,False,Optometry,NJ,54,739,821.31,2016
2592859,12,True,SEWELL,NaN,LOW OGESTREL,DIANE,NORGESTREL ETHINYL ESTRADIOL,HARGIS-REYNOLDS,1144200551,False,Certified Nurse Midwife,NJ,12,336,220.26,2016
2593430,15,True,MEDFORD,NaN,NEO POLYMYX B SULF DEXAMETH,JUSTIN,NEOMYCIN POLYMYXIN B DEXAMETHA,CATANDO,1942365838,False,Optometry,NJ,15,182,271.90,2016
2593869,11,True,FREEHOLD,NaN,TRI ESTARYLLA,SUSAN,NORGESTIMATE ETHINYL ESTRADIOL,SCHNEIDER,1356338099,False,Nurse Practitioner,NJ,11,308,137.07,2016
2594915,11,True,DUMONT,NaN,TRI ESTARYLLA,SONIA,NORGESTIMATE ETHINYL ESTRADIOL,KIM,1558525840,False,Obstetrics & Gynecology,NJ,11,308,175.60,2016
2595159,36,True,SUMMIT,NaN,PREVIDENT 5000 PLUS,JOHN,SODIUM FLUORIDE,ROBINA,1720095581,False,Dentist,NJ,36,1480,678.32,2016
2595778,11,True,NEWARK,NaN,RISPERDAL M TAB,ROBERT,RISPERIDONE ODT,JOHNSON,1134149230,False,Pediatric Medicine,NJ,11,330,6998.20,2016

In [40]:
for i in list(x[x['brand_drug?']==True].index.values):
    script.at[i,'drug_company'] = 'UNKNOWN'

In [41]:
script.to_csv('/Volumes/Seagate/Galvanize/nj_scripts_all_years.csv',index=False)

In [49]:
doc_info = pd.read_csv('/Volumes/Seagate/Galvanize/nj_doc_info_paid.csv',dtype={'Zip Code':object,'NPI':object})
info_df = doc_info[doc_info['NPI']=='1477533925']

In [50]:
info_df

,NPI,First Name,Last Name,Type,Gender,Address,City,State,Zip Code
2591,1477533925,LOWELL,KABNICK,M.D.,M,95 MADISON AVE,MORRISTOWN,NJ,07960

In [48]:
list(x['First Name'].values)[0]

'LOWELL'

In [51]:
list(info_df['Last Name'].values)[0]

'KABNICK'

In [53]:
script.head()

,amount_brand,brand_drug?,city,drug_company,drug_name,fn,generic_name,ln,npi,recieved_payments,specialty_description,state,total_claim_count,total_day_supply,total_drug_cost,year
0,48,True,MAYWOOD,PFIZER,VIAGRA,VINCENT,SILDENAFIL,LANTERI,1528036670,True,Urology,NJ,48,1481,8957.33,2013
1,0,False,MAYWOOD,GENERIC,CLOTRIMAZOLE BETAMETHASONE,VINCENT,CLOTRIMAZOLE BETAMETHASONE,LANTERI,1528036670,True,Urology,NJ,16,367,806.59,2013
2,0,False,MAYWOOD,GENERIC,IMIPRAMINE,VINCENT,IMIPRAMINE,LANTERI,1528036670,True,Urology,NJ,27,1380,519.91,2013
3,0,False,MAYWOOD,GENERIC,NITROFURANTOIN,VINCENT,NITROFURANTOIN,LANTERI,1528036670,True,Urology,NJ,34,1480,1502.16,2013
4,29,True,MAYWOOD,ABBVIE,ANDROGEL,VINCENT,TESTOSTERONE,LANTERI,1528036670,True,Urology,NJ,29,1236,17234.63,2013

In [57]:
list(script[script['npi']==1528036670]['specialty_description'].values)[0]

'Urology'

In [2]:
scripts = pd.read_csv('/Volumes/Seagate/Galvanize/nj_scripts_all_years.csv',dtype={'zip':object,'npi':object})
scripts.head(2)

,amount_brand,brand_drug?,drug_name,generic_name,npi,city,fn,ln,state,recieved_payments,specialty_description,total_claim_count,total_day_supply,total_drug_cost,year
0,48,True,VIAGRA,SILDENAFIL,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,48,1481,8957.33,2013
1,0,False,CLOTRIMAZOLE BETAMETHASONE,CLOTRIMAZOLE BETAMETHASONE,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,16,367,806.59,2013

## For some reason I don't have the comp column, going to relink

In [4]:
dic = pickle.load(open('/Volumes/Seagate/Galvanize/pickles/script_company_dict.pkl', 'rb'))

In [9]:
type(dic)

dict

In [31]:
def unknown_and_generic(x):
    if (x['drug_name'] == x['generic_name']):
            dic[x['drug_name']] = 'GENERIC'
    elif (x['drug_name'] != x['generic_name']) and (x['drug_name'] not in dic):
            dic[x['drug_name']] = 'UNKNOWN'

In [32]:
s = scripts.groupby(['drug_name','generic_name'])['total_claim_count'].sum()
s = s.to_frame().reset_index()

In [33]:
s = s[~s['drug_name'].isin(dic.keys())]

In [34]:
s.apply(unknown_and_generic,axis=1)

0       None
1       None
3       None
4       None
10      None
11      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
23      None
35      None
36      None
38      None
40      None
44      None
50      None
57      None
60      None
61      None
62      None
65      None
66      None
70      None
72      None
75      None
78      None
        ...
2319    None
2328    None
2331    None
2338    None
2339    None
2340    None
2348    None
2349    None
2361    None
2370    None
2373    None
2374    None
2376    None
2377    None
2381    None
2382    None
2386    None
2392    None
2393    None
2398    None
2420    None
2422    None
2423    None
2448    None
2450    None
2459    None
2461    None
2463    None
2471    None
2477    None
Length: 1047, dtype: object

In [36]:
'CLOTRIMAZOLE BETAMETHASONE' in dic

True

In [37]:
scripts["drug_company"] = scripts["drug_name"].map(dic)

In [41]:
x = scripts[scripts['drug_company'].isnull()]

In [42]:
x.head()

Empty DataFrame
Columns: [amount_brand, brand_drug?, drug_name, generic_name, npi, city, fn, ln, state, recieved_payments, specialty_description, total_claim_count, total_day_supply, total_drug_cost, year, drug_company]
Index: []

In [ ]:
scriptsgrp2 = scripts[pd.isnull(scripts['drug_company'])]
scriptsgrp2 = scriptsgrp2.groupby(['drug_name','generic_name'])['npi'].count().to_frame().reset_index()

In [43]:
scripts.to_csv('/Volumes/Seagate/Galvanize/nj_scripts_all_years.csv',index=False)

In [44]:
scripts.head()

,amount_brand,brand_drug?,drug_name,generic_name,npi,city,fn,ln,state,recieved_payments,specialty_description,total_claim_count,total_day_supply,total_drug_cost,year,drug_company
0,48,True,VIAGRA,SILDENAFIL,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,48,1481,8957.33,2013,PFIZER INC
1,0,False,CLOTRIMAZOLE BETAMETHASONE,CLOTRIMAZOLE BETAMETHASONE,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,16,367,806.59,2013,GENERIC
2,0,False,IMIPRAMINE,IMIPRAMINE,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,27,1380,519.91,2013,GENERIC
3,0,False,NITROFURANTOIN,NITROFURANTOIN,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,34,1480,1502.16,2013,GENERIC
4,29,True,ANDROGEL,TESTOSTERONE,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,29,1236,17234.63,2013,ABBVIE INC

In [45]:
s3 = pd.read_csv('/Volumes/Seagate/Galvanize/nj_scripts_all_years.csv',dtype={'zip':object,'npi':object})
s3.head(2)

,amount_brand,brand_drug?,drug_name,generic_name,npi,city,fn,ln,state,recieved_payments,specialty_description,total_claim_count,total_day_supply,total_drug_cost,year,drug_company
0,48,True,VIAGRA,SILDENAFIL,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,48,1481,8957.33,2013,PFIZER INC
1,0,False,CLOTRIMAZOLE BETAMETHASONE,CLOTRIMAZOLE BETAMETHASONE,1528036670,MAYWOOD,VINCENT,LANTERI,NJ,True,Urology,16,367,806.59,2013,GENERIC

In [47]:
s3[s3['npi']=='1386639722']

,amount_brand,brand_drug?,drug_name,generic_name,npi,city,fn,ln,state,recieved_payments,specialty_description,total_claim_count,total_day_supply,total_drug_cost,year,drug_company
622271,0,False,AMOXICILLIN,AMOXICILLIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,17,108,89.67,2013,GENERIC
622272,24,True,LYRICA,PREGABALIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,24,550,4043.07,2013,PFIZER INC
622273,0,False,HYDROCODONE ACETAMINOPHEN,HYDROCODONE ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,18,192,324.64,2013,GENERIC
622274,83,True,CELEBREX,CELECOXIB,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,83,3185,30676.98,2013,PFIZER INC
622275,0,False,ENOXAPARIN SODIUM,ENOXAPARIN SODIUM,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,21,166,4374.44,2013,GENERIC
622276,0,False,TRAMADOL,TRAMADOL,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,26,277,178.12,2013,GENERIC
622277,0,False,OXYCODONE ACETAMINOPHEN,OXYCODONE ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,41,301,352.86,2013,GENERIC
1265838,0,False,HYDROCODONE ACETAMINOPHEN,HYDROCODONE ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,18,215,879.60,2014,GENERIC
1265839,0,False,AMOXICILLIN,AMOXICILLIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,27,143,99.89,2014,GENERIC
1265840,29,True,LYRICA,PREGABALIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,29,780,7339.52,2014,PFIZER INC
1265841,0,False,MELOXICAM,MELOXICAM,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,12,540,64.22,2014,GENERIC
1265842,128,True,CELEBREX,CELECOXIB,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,128,4794,53668.36,2014,PFIZER INC
1265843,0,False,OXYCODONE ACETAMINOPHEN,OXYCODONE ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,29,191,415.04,2014,GENERIC
1265844,0,False,ENOXAPARIN SODIUM,ENOXAPARIN SODIUM,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,18,184,3042.75,2014,GENERIC
1265845,0,False,TRAMADOL,TRAMADOL,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,48,598,329.05,2014,GENERIC
1674483,0,False,OXYCODONE ACETAMINOPHEN,OXYCODONE ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,53,451,1129.46,2015,GENERIC
1674484,0,False,AMOXICILLIN,AMOXICILLIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,17,104,59.98,2015,GENERIC
1674485,0,False,TRAMADOL ACETAMINOPHEN,TRAMADOL ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,14,306,215.17,2015,GENERIC
1674486,0,False,HYDROMORPHONE,HYDROMORPHONE,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,11,117,90.99,2015,GENERIC
1674487,0,False,ENOXAPARIN SODIUM,ENOXAPARIN SODIUM,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,26,231,4363.93,2015,GENERIC
1674488,0,False,CELECOXIB,CELECOXIB,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,126,4780,23872.61,2015,GENERIC
1674489,35,True,LYRICA,PREGABALIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,35,1037,10456.02,2015,PFIZER INC
1674490,0,False,TRAMADOL,TRAMADOL,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,26,280,153.19,2015,GENERIC
1674491,12,True,CELEBREX,CELECOXIB,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopaedic Surgery,12,600,9007.53,2015,PFIZER INC
2562628,43,True,LYRICA,PREGABALIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,43,1245,14463.39,2016,PFIZER INC
2562629,0,False,ENOXAPARIN SODIUM,ENOXAPARIN SODIUM,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,32,285,3646.04,2016,GENERIC
2562630,0,False,TRAMADOL,TRAMADOL,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,29,312,238.58,2016,GENERIC
2562631,0,False,HYDROCODONE ACETAMINOPHEN,HYDROCODONE ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,12,84,218.44,2016,GENERIC
2562632,0,False,OXYCODONE ACETAMINOPHEN,OXYCODONE ACETAMINOPHEN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,55,601,961.84,2016,GENERIC
2562633,0,False,CELECOXIB,CELECOXIB,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,117,4489,13220.94,2016,GENERIC
2562634,0,False,AMOXICILLIN,AMOXICILLIN,1386639722,PARAMUS,MARK,HARTZBAND,NJ,True,Orthopedic Surgery,34,347,145.71,2016,GENERIC

In [48]:
paid = pd.read_csv('/Volumes/Seagate/Galvanize/nj_payments_all_years_consl.csv',
                            dtype={'zip':object,'npi':object,'company_id':object}, \
                  usecols=[1,2,3,10,11,12,13,26])

In [102]:
df = paid.copy()
npi = '1386639722'
pay_doc = df[df['npi']==str(npi)].groupby(['npi','fn','ln','year']).agg({'amount':np.sum, 'form':'count'}).reset_index()

In [103]:
pay_doc['avg'] = (pay_doc['amount']/pay_doc['form']).round(2)

In [94]:
pay_doc

          npi    fn         ln  year     amount  form       avg
0  1386639722  MARK  HARTZBAND  2013  212641.10    56   3797.16
1  1386639722  MARK  HARTZBAND  2014  462742.01    93   4975.72
2  1386639722  MARK  HARTZBAND  2015  501312.80    37  13548.99
3  1386639722  MARK  HARTZBAND  2016  750325.56    83   9040.07

In [84]:
pay_doc['avg'] = pay_doc.apply(lambda x: "{:,}".format(x['avg']), axis=1)
pay_doc['amount'] = pay_doc.apply(lambda x: "{:,}".format(x['amount']), axis=1)
pay_doc

          npi    fn         ln  year      amount  form Average Payment Amount
0  1386639722  MARK  HARTZBAND  2013   212,641.1    56               3,797.16
1  1386639722  MARK  HARTZBAND  2014  462,742.01    93               4,975.72
2  1386639722  MARK  HARTZBAND  2015   501,312.8    37              13,548.99
3  1386639722  MARK  HARTZBAND  2016  750,325.56    83               9,040.07

In [90]:
pay_doc.columns

Index(['npi', 'fn', 'ln', 'year', 'amount', 'form', 'Average Payment Amount'], dtype='object')

In [104]:
pay_doc['amount'] = pay_doc['amount'].astype(str)

In [105]:
pay_doc

          npi    fn         ln  year              amount  form       avg
0  1386639722  MARK  HARTZBAND  2013  212641.10000000003    56   3797.16
1  1386639722  MARK  HARTZBAND  2014   462742.0099999999    93   4975.72
2  1386639722  MARK  HARTZBAND  2015   501312.8000000001    37  13548.99
3  1386639722  MARK  HARTZBAND  2016           750325.56    83   9040.07

In [108]:
len(df.form.unique()),len(df.nature.unique())

(5, 14)

In [109]:
df.form.unique()

array(['In-kind items and services', 'Cash or cash equivalent',
       'Stock, stock option, or any other ownership interest',
       'Dividend, profit or other return on investment', 'Stock'],
      dtype=object)

In [110]:
df.nature.unique()

array(['Food and Beverage', 'Education', 'Travel and Lodging',
       'Compensation for services other than consulting, including serving as faculty or as a speaker at a venue other than a continuing education program',
       'Charitable Contribution', 'Consulting Fee', 'Honoraria',
       'Entertainment', 'Royalty or License',
       'Compensation for serving as faculty or as a speaker for a non-accredited and noncertified continuing education program',
       'Grant', 'Gift',
       'Current or prospective ownership or investment interest',
       'Compensation for serving as faculty or as a speaker for an accredited or certified continuing education program'],
      dtype=object)

In [111]:
nature_yr = df[df['npi']==str(npi)]

In [118]:
x = nature_yr.groupby(['year','nature']).agg({'amount':np.sum}).reset_index()
y = x[x.year == 2013]

In [119]:
y

   year                                             nature    amount
0  2013  Compensation for serving as faculty or as a sp...  69500.00
1  2013                                     Consulting Fee  45250.00
2  2013                                          Education      6.28
3  2013                                  Food and Beverage   1210.24
4  2013                                 Royalty or License  93517.37
5  2013                                 Travel and Lodging   3157.21

In [121]:
x.nature.unique()

array(['Compensation for serving as faculty or as a speaker for a non-accredited and noncertified continuing education program',
       'Consulting Fee', 'Education', 'Food and Beverage',
       'Royalty or License', 'Travel and Lodging',
       'Compensation for services other than consulting, including serving as faculty or as a speaker at a venue other than a continuing education program'],
      dtype=object)

In [122]:
nature_yr = df[df['npi']==str(npi)].groupby(['year','nature']).agg({'amount':np.sum}).reset_index()

In [124]:
df.head(2)

,npi,fn,ln,company,amount,form,nature,year
0,1174629083,FATIMA,ASGHAR,FOREST PHARMACEUTICALS,14.83,In-kind items and services,Food and Beverage,2013
1,1386735850,RAGHUVEER,ANNAM,FOREST PHARMACEUTICALS,72.90,In-kind items and services,Food and Beverage,2013

In [125]:
pay_doc = df[df['npi']==str(npi)].groupby(['npi','fn','ln','year']).agg({'amount':np.sum, 'form':'count'}).reset_index()
pay_doc['avg'] = (pay_doc['amount']/pay_doc['form'])
pay_doc = pay_doc.round(2)
pay_doc['avg'] = pay_doc['avg']

In [126]:
pay_doc

          npi    fn         ln  year     amount  form       avg
0  1386639722  MARK  HARTZBAND  2013  212641.10    56   3797.16
1  1386639722  MARK  HARTZBAND  2014  462742.01    93   4975.72
2  1386639722  MARK  HARTZBAND  2015  501312.80    37  13548.99
3  1386639722  MARK  HARTZBAND  2016  750325.56    83   9040.07

In [127]:
nature_yr = df[df['npi']==str(npi)].groupby(['year','nature']).agg({'amount':np.sum}).reset_index()
nature_yr

    year                                             nature     amount
0   2013  Compensation for serving as faculty or as a sp...   69500.00
1   2013                                     Consulting Fee   45250.00
2   2013                                          Education       6.28
3   2013                                  Food and Beverage    1210.24
4   2013                                 Royalty or License   93517.37
5   2013                                 Travel and Lodging    3157.21
6   2014  Compensation for services other than consultin...   91633.79
7   2014  Compensation for serving as faculty or as a sp...   33000.00
8   2014                                     Consulting Fee   42000.00
9   2014                                          Education      24.40
10  2014                                  Food and Beverage    2496.18
11  2014                                 Royalty or License  286833.86
12  2014                                 Travel and Lodging    6753.78
13  2015  Compensation for serving as faculty or as a sp...   20000.00
14  2015                                     Consulting Fee    3000.00
15  2015                                  Food and Beverage    1238.95
16  2015                                 Royalty or License  474623.04
17  2015                                 Travel and Lodging    2450.81
18  2016                                     Consulting Fee  126750.00
19  2016                                  Food and Beverage    2151.95
20  2016                                 Royalty or License  606252.20
21  2016                                 Travel and Lodging   15171.41

In [128]:
nall = df[df['npi']==str(npi)].groupby(['nature']).agg({'amount':np.sum}).reset_index()

In [129]:
nall

                                              nature      amount
0  Compensation for services other than consultin...    91633.79
1  Compensation for serving as faculty or as a sp...   122500.00
2                                     Consulting Fee   217000.00
3                                          Education       30.68
4                                  Food and Beverage     7097.32
5                                 Royalty or License  1461226.47
6                                 Travel and Lodging    27533.21

In [148]:
pay_doc = df[df['npi']==str(npi)].groupby(['npi','fn','ln','year']).agg({'amount':np.sum, 'form':'count'}).reset_index()
pay_doc['year'] = pay_doc['year'].astype(str)
pay_doc = pay_doc.append(pay_doc.sum(numeric_only=True), ignore_index=True)
pay_doc.fillna({'year':'All Years'},inplace=True)
pay_doc['avg'] = (pay_doc['amount']/pay_doc['form'])
pay_doc=pay_doc.round(2)
pay_doc['amount'] = pay_doc['amount']
pay_doc

,npi,fn,ln,year,amount,form,avg
0,1386639722,MARK,HARTZBAND,2013,0 212641.10\n1 462742.01\n2 501312...,56.0,3797.16
1,1386639722,MARK,HARTZBAND,2014,0 212641.10\n1 462742.01\n2 501312...,93.0,4975.72
2,1386639722,MARK,HARTZBAND,2015,0 212641.10\n1 462742.01\n2 501312...,37.0,13548.99
3,1386639722,MARK,HARTZBAND,2016,0 212641.10\n1 462742.01\n2 501312...,83.0,9040.07
4,NaN,NaN,NaN,All Years,0 212641.10\n1 462742.01\n2 501312...,269.0,7163.65

In [139]:
type(pay_doc['avg'][0])

numpy.float64

In [142]:
def dec(x):
    if type(x) == np.float64:
        return('{:.2f}'.format(x))

In [149]:
df= pd.read_csv('/Volumes/Seagate/Galvanize/nj_scripts_all_years.csv',dtype={'npi':object})

In [170]:
grp = df[df['specialty_description']=='Ophthalmology'].groupby(['recieved_payments']).agg({'amount_brand':'sum','total_claim_count':'sum'}).reset_index()
spec_df = grp.copy()

In [171]:
spec_df['%_brand'] = (spec_df['amount_brand']/spec_df['total_claim_count'])

In [172]:
spec_df

   recieved_payments  amount_brand  total_claim_count   %_brand
0              False        195862             472853  0.414213
1               True       1196900            2388751  0.501057